* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font: 18px/1.5 'lato' sans-serif;
  -webkit-font-smoothing: antialiased;
}

section.Jsl{
 background:#431c5d;
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
   text-align: center;
}

p { margin: 1.5em 0; }

.scenter{
  text-align: right;
}
.two-up{
  margin-top: 7%;
}

.web-text{
  text-align: right;
}

.hrline{
  text-align: center;
}
/* Silver Sponsor section */
section.silver { 
  background: #fff;
  width: 100%;
  padding: 50px;
}

section.silver > .container {
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  section.silver {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }
}

@media (max-width: 375px) {
  section.silver {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
  }
}

/* BRONZE Sponsor section */
section.bronze { 
  background:#c0dfd9;
  width: 700px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 50px calc(50% - 350px);
}

@media (max-width: 800px) {
  section.bronze {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
  }
}

@media (max-width: 375px) {
  section.bronze {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
}


@media (max-width: 320px) {
  section.bronze {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }
}




section:before { right: 100%; }
section:after  { left: 100%;  }

html, body { overflow-x: hidden; }