{#
  set schedule = {
      'id'    : 'schedule-day2'
    , 'date'  : '21<sup class="date">st</sup> Sep'
    , 'list'  : [
        {
          'slot'      : '9 am'
        , 'title'     : 'Registrations'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '9:30 am'
        , 'id'        : 'asynchronus-javascript-and-promises-3'
      }
      , {
          'slot'      : '12 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '3 pm'
        , 'id'        : 'asynchronus-javascript-and-promises-4'
      }
      , {
          'slot'      : '4 pm'
        , 'id'        : 'asynchronus-javascript-and-promises-5'
      }
    ]
  }
#}