{%
  set schedule = {
    'id'    : 'schedule-day2'
  , 'date'  : '21<sup class="date">st</sup> Sep'
  , 'list' : [
        {
          'slot'      : '9am – 9:30am'
        , 'title'     : 'Registrations'
      }
      , {
          'slot'      : '9:30am – 10:30am'
        , 'id'        : 'asynchronus-javascript-and-promises-3'
      }
      , {
          'slot'      : '12pm – 1:30pm'
        , 'title'     : 'Lunch'
      }
      , {
          'slot'      : '3pm – 4pm'
        , 'id'        : 'asynchronus-javascript-and-promises-4'
      }
      , {
          'slot'      : '4pm – 5:30pm'
        , 'id'        : 'asynchronus-javascript-and-promises-5'
      }
    ]
  }
%}