{%
  set venues = {
    venue1 : {
        'title'       : 'MLR Convention Centre'
      , 'subtitle'    : 'J. P. Nagar'
      , 'poster'      : 'https://imgee.s3.amazonaws.com/imgee/b64619779bef466b9413464fa3e88a1f.jpeg'
      , 'address'     : 'Brigade Millenium Complex, J.P. Nagar 7th Phase<br>Bangalore, Karnataka  India. <br>Phone: +91 8861386058, 9886123435, 9880405439, 080-40182222<br>'
      , 'map'         : {
          'osm'       : {
              'label' : 'MLR Convention Centre, J. P. Nagar'
            , 'zoom'  : 14
            , 'marker': '12.891476, 77.585079'
          }
        , 'google'    : 'http://goo.gl/maps/pTOsq'
      }
      , 'city'        : {
            'title'       : 'Bangalore'
          , 'map'         : {
              'osm'       : {
                'label'   : 'Bangalore'
              , 'zoom'    : 3
              , 'marker'  : '12.9833, 77.5833'
            }
          }
          , 'address'     : 'Bangalore<br>Karnataka<br>India'
      }
      , 'directions'  : [
          {
            'from'      : 'Airport'
          , 'route'     : '<p>MLR Convention Centre is 45.1 kms from the airport. It is housed in the Brigade Millenium apartment complex in J P Nagar 7th Phase. In peak hours, it can take up to 2.5 hours to reach the venue. During non-rush hours, you can get to the venue within 1.5 hours. Bus number 5 from the airport will bring you to J P Nagar 6th phase. From there, you can take an auto to get to MLR Convention Centre. Alternatively, you can take a taxi (with registered services such as MERU, Easy Cabs and KSTDC) from the airport which will charge by the meter.</p>'
        }
        , {
            'from'      : 'Majestic'
          , 'route'     : '<p>MLR Convention Centre is 11.6 kms away from the Majestic bus and railway station. BMTC AC and non-AC buses going towards Bannerghatta National Park and Arekere will bring you to Arekere junction. The Convention Centre is 1.5 kms from the main road on Arekere. You could also take an auto rickshaw or book a taxi (with Ola, Taxi for Sure and other services).</p>'
        }
      ]
    }
  }
%}