{#
  set schedule = {
      'id'    : 'schedule-day2'
    , 'date'  : '21<sup class="date">st</sup> Sep'
    , 'list'  : [
        {
          'slot'      : '9&nbsp;am'
        , 'title'     : 'Registrations'
        , 'duration'  : '30&nbsp;mins'
      }
      , {
          'slot'      : '9:30&nbsp;am'
        , 'id'        : 'asynchronus-javascript-and-promises-3'
      }
      , {
          'slot'      : '12&nbsp;pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '30&nbsp;mins'
      }
      , {
          'slot'      : '3&nbsp;pm'
        , 'id'        : 'asynchronus-javascript-and-promises-4'
      }
      , {
          'slot'      : '4&nbsp;pm'
        , 'id'        : 'asynchronus-javascript-and-promises-5'
      }
    ]
  }
#}