{%
  set schedule = {
      'id'    : 'schedule-day1'
    , 'date'  : '19<sup class="date">th</sup> Sep'
    , 'schedulelist': false
    , 'list'  : [
        {
          'slot'      : '8:30 am'
        , 'title'     : 'Registrations and breakfast'
        , 'duration'  : '45 mins'
      }
      , {
          'slot'      : '9:15 am'
        , 'title'     : 'Introduction to HasGeek and JSFoo'
        , 'duration'  : '15 mins'
      }
      , {
         'slot'       : '9:30 am'
        , 'id'        : 'Bringing-the-open-web-and-apis-to-mobile-devices-with-firefox-os1'
      }
      , {
         'slot'       : '10:15 am'
        , 'id'        : 'Frontend-devops1'
      }
      , {
          'slot'      : '11:00 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
         'slot'       : '11:30 am'
        , 'id'        : 'generating-tests-from-code'
      }
      , {
         'slot'       : '12:15 pm'
        , 'id'        : 'Real-time-peer-to-peer-collaboration-with-JS-and-HTML5'
      }
      , {
          'slot'      : '1:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 30 mins'
      }
      , {
         'slot'       : '2:30 pm'
        , 'id'        : 'Javascript-is-a-dj'
      }
      , {
          'slot'      : '2:50 pm'
        , 'id'        : 'Flying-robots'
      }
      , {
          'slot'      : '3:10 pm'
        , 'id'        : 'camera-motion-detection-in-JS'
      }
      , {
          'slot'      : '3:30 pm'
        , 'id'        : 'red-rapahel-graphics-library'
      }
      , {
          'slot'      : '4:15 pm'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '4:45 pm'
        , 'id'        : 'killing-passwords'
      }
      , {
          'slot'      : '5:30 pm'
        , 'id'        : 'sponsored-talk'
      }
      , {
          'slot'      : '6:15 pm'
        , 'id'        : 'bot-using-nodejs-and-html5'
      }
      , {
          'slot'      : '6:35 pm'
        , 'id'        : 'visualising-bollywood-with-javascript'
      }
      , {
          'slot'      : '6:55 pm'
        , 'id'        : 'offline-in-the-browser'
      }
      , {
          'slot'      : '7:15 pm'
        , 'title'     : 'Party at Woodrose Club'
        , 'duration'  : '3 hrs'
      }
    ]
  }
%}