{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'conference'
    , 'date'  : '14 - 15 February'
    , 'day1'  : [
        {
          'slot'      : '08:45'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-check"></i>&nbsp;&nbsp;Check-in &amp; Breakfast'
      }
      , {
          'slot'      : '09:30'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-bell"></i>&nbsp;&nbsp;introductions'
      }
      , {
          'slot'      : '09:45'
        , 'am_pm'     : 'AM'
        , 'session'   : '1256-amplify-your-stack-deux'
      }
      , {
          'slot'      : '10:30'
        , 'am_pm'     : 'AM'
        , 'session'   : '1251-test-driving-your-javascript-code'
      }
      , {
          'slot'      : '11:15'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-coffee"></i>&nbsp;&nbsp;Tea break'
      }
      , {
          'slot'      : '11:45'
        , 'am_pm'     : 'AM'
        , 'session'   : '1245-securing-your-nodejs-deployments-while-you-sleep'
      }
      , {
          'slot'      : '12:00'
        , 'am_pm'     : 'PM'
        , 'session'   : '1265-node-on-microsoft-azure-real-world-scenarios'
      }
      , {
          'slot'      : '12:45'
        , 'am_pm'     : 'PM'
        , 'session'   : '1237-managing-api-resources-and-their-relationships-on-'
      }
      , {
          'slot'      : '01:30'
        , 'am_pm'     : 'PM'
        , 'title'     : '<i class="fa fa-cutlery"></i>&nbsp;&nbsp;Lunch'
      }
      , {
          'slot'      : '02:30'
        , 'am_pm'     : 'PM'
        , 'session'   : '1220-a-crisp-talk-on-tessel-io'
      }
      , {
          'slot'      : '02:45'
        , 'am_pm'     : 'PM'
        , 'title'    : '<i class="fa fa-flash"></i>&nbsp;&nbsp;Flash talks'
      }
      
      , {
          'slot'      : '03:30'
        , 'am_pm'     : 'PM'
        , 'title'     : '<i class="fa fa-coffee"></i>&nbsp;&nbsp;Tea break'
      }
      , {
          'slot'      : '04:00'
        , 'am_pm'     : 'PM'
        , 'session'   : '1200-event-based-architecture-at-scrollback'
      }
      , {
          'slot'      : '04:45'
        , 'am_pm'     : 'PM'
        , 'session'   : '1211-a-curated-tour-of-awesome-javascript-sources-backb'
      }
      , {
          'slot'      : '05:30'
        , 'am_pm'     : 'PM'
        , 'title'    : '<i class="fa fa-power-off"></i>&nbsp;&nbsp;Closing'
      }     
    ]
    , 'day2'  : [ 
      {
          'slot'      : '08:45'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-check"></i>&nbsp;&nbsp;Check-in &amp; Breakfast'
      }
      , {
          'slot'      : '09:30'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-bell"></i>&nbsp;&nbsp;Summary of day 1'
      }
      , {
          'slot'      : '09:45'
        , 'am_pm'     : 'AM'
        , 'session'   : '1258-famo-us-build-native-quality-apps-using-html5-with'
      }
      , {
          'slot'      : '10:30'
        , 'am_pm'     : 'AM'
        , 'session'   : '1144-the-road-to-ember-data-1-0'
      }
      , {
          'slot'      : '11:15'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-coffee"></i>&nbsp;&nbsp;Tea break'
      }
      , {
          'slot'      : '11:45'
        , 'am_pm'     : 'AM'
        , 'session'   : '1201-building-a-real-ambitious-application-using-ember-'
      }
      , {
          'slot'      : '12:30'
        , 'am_pm'     : 'PM'
        , 'session'   : '1216-home-brewing-r-u-m-analyzing-application-performan'
      }
      , {
          'slot'      : '12:45'
        , 'am_pm'     : 'PM'
        , 'session'   : '1257-fml-the-no-format-content-format'
      }
      , {
          'slot'      : '01:15'
        , 'am_pm'     : 'PM'
        , 'title'     : '<i class="fa fa-comments"></i>&nbsp;&nbsp;Feedback'
      }
      , {
          'slot'      : '01:30'
        , 'am_pm'     : 'PM'
        , 'title'     : '<i class="fa fa-cutlery"></i>&nbsp;&nbsp;Lunch'
      }
      , {
          'slot'      : '02:30'
        , 'am_pm'     : 'PM'
        , 'session'   : '1163-pretty-ui-for-angular-apps-using-kendo-ui-core'
      }
      , {
          'slot'      : '02:45'
        , 'am_pm'     : 'PM'
        , 'session'   : '1248-ui-flipkart-a-node-direction'
      }
      , {
          'slot'      : '03:30'
        , 'am_pm'     : 'PM'
        , 'title'     : '<i class="fa fa-coffee"></i>&nbsp;&nbsp;Tea break'
      }
      , {
          'slot'      : '04:00'
        , 'am_pm'     : 'PM'
        , 'session'   : '1221-safety-not-guaranteed'
      }
      , {
          'slot'      : '04:15'
        , 'am_pm'     : 'PM'
        , 'session'   : '1231-javascript-and-mathematical-computing-across-serve'
      }
      , {
          'slot'      : '04:30'
        , 'am_pm'     : 'PM'
        , 'title'    : '<i class="fa fa-flash"></i>&nbsp;&nbsp;Flash talks'
      }
      , {
          'slot'      : '05:15'
        , 'am_pm'     : 'PM'
        , 'title'    : '<i class="fa fa-power-off"></i>&nbsp;&nbsp;Closing'
      } 
        
    ]
  }
%}