{%
  set venue = {
      'title'       : 'MLR Convention Centre'
    , 'subtitle'    : 'J. P. Nagar'
    , 'poster'      : theme_static('img/venue.jpg')
    , 'address'     : 'MLR Convention Centre, J.P. Nagar<br>Brigade Millenium Complex, J.P. Nagar 7th Phase<br>Bangalore, Karnataka  India'
    , 'map'         : {
        'osm'       : {
            'label' : 'MLR Convention Centre, J. P. Nagar'
          , 'zoom'  : 14
          , 'marker': '12.891476, 77.585079'
        }
      , 'google'    : 'http://goo.gl/maps/pTOsq'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'Airport'
        , 'route'     : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>'
      }
      , {
          'from'      : 'Majestic'
        , 'route'     : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>'
      }
    ]
  }
%}