{% 
  set event = {
      'title' : 'Conference'
    , 'blurb' : '<p>JSFoo 2014 theme is on JavaScript as the centrepiece of a complex web stack.</p><p>Listen to full-length talks of 40 minutes, crisp 15-minute presentations on new ideas and frameworks, and present a short talk during the flash talk session open to the audience!</p>'
  }
%}
{% 
  set nav = [
    {
      'display': 'Schedule'
      , 'link' : 'conference#schedule'
    }
    , {
      'display': 'Talks'
      , 'link' : 'conference#talks'
    }
    , {
      'display': 'Venue'
      , 'link' : 'conference#conference-venue'
    }
  ]
%}
{% from theme("data/sessions.html") import talks, types %}
{% 
  set session = {
      'id'    : 'talks'
    , 'label' : 'Talks'
    , 'link'  : 'conference#talks'
    , 'list'  : talks.values()
    , 'types' : types
  }
%}