{% 
  set event = {
      'title' : 'Conference <span class="darkyellow">&amp;</span><br>Workshops'
    , 'subtitle': 'on javascript'
    , 'when'  : '18 - 19 September 2015'
    , 'poster': ''
    , 'ticket': '#'
    , 'funnel': '#'
    , 'videos': 'https://hasgeek.tv/jsfoo/'
    , 'blurb' : '<p>JSFoo, India\'s premier JavaScript conference is back again with its fifth edition. This year JSFoo is about the future of JavaScript. Let\'s bring together the people creating the future of the web.</p><p class="space-one-top text-center"><a href="#schedules" class="space-one-top button secondary dark smooth-scroll">View Conference Schedule</a></p><p class="space-one-top">This year, we have hands-on workshops on node.js, angularjs and nodebots. <a href="workshops" class="darkyellow">Read more...</a></p>'
    , 'desc'  : ''
  }
%}
