{% 
  set event = {
      'title' : 'Conference and Workshops on Javascript'
    , 'when'  : '17 - 20 September 2014'
    , 'poster': ''
    , 'ticket': ''
    , 'funnel': 'https://funnel.hasgeek.com/jsfoo2014/'
    , 'videos': 'https://hasgeek.tv/jsfoo/'
    , 'blurb' : '<p>JSFoo is India\'s premier JavaScript conference. Join us on September 17 - 20, 2014 at the <a href="/2014/venue">MLR Convention Centre, JP Nagar, Bangalore</a> for the sixth edition of JSFoo. Let’s bring together the people creating the future of the web.</p><p><span class="medium">JSFoo 2014 is about working with JavaScript as the centerpiece of a complex web stack.</span></p>'
  }
%}
