{%
  set items = [
      {
        'title'     : 'Asynchronus JavaScript and Promises'
      , 'subtitle'  : 'Senthil Kumar V'
      , 'link'      : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
    }
    , {
        'title'     : 'Node Robo - Robo powered by Raspberry Pi, Node, Arduino, Firebase and Phonegap'
      , 'subtitle'  : 'Sreejesh Karunakaran'
      , 'link'      : 'https://funnel.hasgeek.com/jsfoo2013/809-node-robo-robo-powered-by-raspberry-pi-node-arduino-firebase-and-phonegap'
    }
    , {
        'title'     : 'All you EVER wanted to know about client-side frameworks'
      , 'subtitle'  : 'Dheeraj Kumar'
      , 'link'      : 'https://funnel.hasgeek.com/jsfoo2013/771-all-you-ever-wanted-to-know-about-client-side-frameworks'
    }
  ]
%}