{%
  set types = [
      {
        'id'    : 'budget'
      , 'title' : 'Budget'
    }
    , {
        'id'    : 'delux'
      , 'title' : 'Delux'
    }
    , {
        'id'    : 'luxury'
      , 'title' : 'luxury'
    }
  ]
%}  
{%
  set items = [
      {
        'title'   : 'Nandhini Hotel'
      , 'id'      : 'nandhini-hotel'
      , 'type'    : 'budget'
      , 'link'    : 'hasgeek.com'
      , 'address' : '# 726/A, 24 th Main Road,<br>6th Phase, J P Nagar,<br>Bangalore - 560 078'
      , 'contact' : '<a href="tel:+918040355566">080-40355566</a><br><a href="tel:+918040355566">080-26649521</a><br><a href="mailto:reservationjpn@nandhini.com?subject=Enquiry">reservationjpn@nandhini.com</a>'
      , 'distance': '1.7'
    }
    , {
        'title'   : 'Crystal Castle'
      , 'id'      : 'crystal-castle'
      , 'type'    : 'budget'
      , 'link'    : 'hasgeek.com'
      , 'address' : '24th Main, <br>JP Nagar 5th Phase, <br>Bangalore-560078'
      , 'contact' : '<a href="tel:+918049008600">080-49008600</a><br><a href="tel:+919900058570">+919900058570 </a><br><a href="www.crystalcastle.in">crystalcastle.in</a>'
      , 'distance': '1.0'
    }
    , {
        'title'   : 'Cross Roads Inn'
      , 'id'      : 'cross-roads-inn-1'
      , 'type'    : 'delux'
      , 'link'    : 'hasgeek.com'
      , 'address' : '# 726/A, 24 th Main Road,<br>6th Phase, J P Nagar,<br>Bangalore - 560 078'
      , 'contact' : '<a href="tel:+918040355566">080-40355566</a><br><a href="tel:+918040355566">080-26649521</a><br><a href="http://www.crossroadsinn.in/">crossroadsinn.in</a>'
      , 'distance': '2.0'
    }
  ]
%}