{%
  set venue = {
      'title'       : 'Woodrose Club'
    , 'subtitle'    : 'Brigade Millenium Campus'
    , 'poster'      : theme_static('img/party-venue.jpg')
    , 'address'     : 'opposite MLR Convention Centre, J.P. Nagar<br>Brigade Millenium Complex, J.P. Nagar 7th Phase<br>Bangalore, Karnataka  India'
    , 'map'         : {
        'osm'       : {
            'label' : 'Woodrose Club, Brigade Millenium Campus'
          , 'zoom'  : 14
          , 'marker': '12.891476, 77.585079'
        }
      , 'google'    : 'http://goo.gl/maps/pTOsq'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'Conference Venue'
        , 'route'     : '<p>Woodrose Club is situated diagonally opposite the conference venue. Participants can walk over to the party venue. They will be directed to the lawns where the party is being organized.</p>'
      }
    ]
  }
%}