{%
  set items = [
      {
      'id'    : 'barbara'
    , 'title' : 'Barbara Maim'
    , 'link'  : 'program-committee#barbara'
    , 'blurb' : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
    }
    , {
        'id'    : 'jonathan'
      , 'title' : 'Jonathan Maim'
      , 'link'  : 'program-committee#jonathan'
      , 'blurb' : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
    }
    , {
        'id'    : 'rajasekharan'
      , 'title' : 'Rajasekharan Vengalil'
      , 'link'  : 'program-committee#rajasekharan'
      , 'blurb' : '<p>Raj is a purveyor of JavaScripts. Irrationally afraid of waking up to discover that somebody created yet another JS framework. Again. He has been a part of the IT Industry for over a decade and has worked mainly on Microsoft products and technologies ranging from VC++, MFC and Win32 programming to developments on the web front, JavaScript and .NET. His current focus is on building high quality app experiences on Windows 8, advances in web development, building rich internet applications and Windows Azure. His work responsibilities include driving awareness and excitement around Microsoft technologies. When not tinkering with a computer, Raj can be found reading, playing tennis, listening to music, or playing first person shooter computer games.</p>'
    }
    , {
        'id'    : 'rakesh'
      , 'title' : 'Rakesh Pai'
      , 'link'  : 'program-committee#rakesh'
      , 'blurb' : '<p>Wields JavaScript for fun and profit. Commander of robots. Consumes copious amounts of alcohol. Together with Errorception, finds fault in others code. Hates XML. Mostly harmless.</p>'
    }
    , {
        'id'    : 'sunil'
      , 'title' : 'Sunil Pai'
      , 'link'  : 'program-committee#sunil'
      , 'blurb' : '<p>Sunil Pai works on User Interfaces at Myntra. He’s previously worked at Yahoo, Idiom, and his uncle’s garage. He spends his time obsessing over systems design, pixels, transitions, and the unending awesomeness of scripting languages. Beyond work, he writes open source for fun, and plays a blue Les Paul for no audience in particular.</p>'
    }
    , {
        'id'    : 'vishal'
      , 'title' : 'Vishal Parpia'
      , 'link'  : 'program-committee#vishal'
      , 'blurb' : '<p>Vishal runs a small software company in Pune called ActivElement. He’s been working with HTML and JavaScript since 1995 making him feel old and outdated. Despite this he occasionally provides the odd nugget of wisdom which is why we keep him around. He dabbles in both design and programming and is mediocre at both. He lives in Pune with his wife and two boys. In his spare time he likes to play incredibly boring turn-based strategy games, RPGs and low stakes Texas hold ’em. He also writes things with alarming irregularity on <a href="http://vizkid.com">his blog</a>.</p>'
    }
  ]
%}