{%
  set items = [
    {
        "title" : "Delhi Run-up"
      , "when"  : "6 September 2014"
      , "venue" : "Wingify office, Delhi"
      , "link"  : "/2014/runup-delhi"
    },
    {
        "title" : "Pune Run-up"
      , "when"  : "6 September 2014"
      , "venue" : "Equal Experts, Pune"
      , "link"  : "/2014/runup-pune"
    },
    {
        "title" : "Chennai Run-up"
      , "when"  : "6 September 2014"
      , "venue" : "Indix office, Chennai"
      , "link"  : "/2014/runup-chennai"
    },
    {
        "title" : "Mumbai Run-up"
      , "when"  : "7 September 2014"
      , "venue" : "Media.net office, Mumbai"
      , "link"  : "/2014/runup-mumbai"
    },
    {
        "title" : "Bangalore: Test Driven Development Workshop"
      , "when"  : "13 September 2014"
      , "venue" : "HasGeek House, Bangalore"
      , "link"  : "/2014/runup-bangalore"
    }
  ]
%}
