{%
  set talks = {
    '3-an-introduction-to-search-index-js': {
        'id'          : '3-an-introduction-to-search-index-js',
       'speaker'     : 'Mats Olsen'
      , 'title'       : 'An introduction to search-index.js'
      , 'designation' : 'Mathematician working with search engines at Comperio'
      , 'twitter'     : 'mewwts'
      , 'blurb'       : '<p>The talk should serve as a jumping off point for engineers looking to use search-index, and creative types who want to create new concepts around “Small Data”. The obvious benefit is knowing a technology that lets you put a search index in the browser. It opens up for some fascinating stuff.</p>'
      , 'photo'       : 'https://images.hasgeek.com/embed/file/d3fecf88e81c424d8e3409cc899ce28c'
      , 'featured'    : true
      , 'funnel'      : 'https://jsfoo.talkfunnel.com/2015/3-an-introduction-to-search-index-js'
      , 'count'       : 3
    },
    '64-droids-javascript-and-web-connected-hardware': {
      'speaker'     : 'Andrew Fisher',
      'title'       : 'Droids, JavaScript and Web Connected Hardware',
      'designation' : 'CTO &amp; Head of Data Science for JBA' ,
      'photo'       : 'http://gravatar.com/avatar/a0006ca00e14d33a4ca6fdf5a75b6d9a?s=200',
      'funnel'      : 'https://jsfoo.talkfunnel.com/2015/64-droids-javascript-and-web-connected-hardware',
      'count'       : 64
    }
  }
%}  
{%
  set workshops = {
    'node-js-1':{
        'id'          : 'node-js-1'
      , 'title'       : 'NodeJS Workshop'
      , 'speaker'     : 'Arunkumar Krishnamoorthy &amp; Arun Vijayarengan'
      , 'designation' : ''
      , 'place'       : ''
      , 'twitter'     : ''
      , 'bio'         : '<p><strong>Arunkumar</strong> is a hands-on full-stack Solution Architect fluent in Java, Javascript, Android, Scala, SQL/NoSQL platforms with more than 16 years of intense Software Engineering and hands-on development experience in a technology leadership and ownership role.</p><p><strong>Arun Vijayarengan</strong> has more than 10 years of professional experience in the entire front-end ranging from UX, Usability, Accessibility to HTML, CSS and JavaScript. He keeps himself busy with latest JS standard ECMAScript 2015, Javascript libraries such as React JS, Angular 2, NodeJS and related frameworks.</p>'
      , 'objective'   : ''
      , 'blurb'       : '<p>An intensive hands-on workshop to fast track full-fledged Enterprise Application Development on NodeJS platform. This is the first workshop in the 3 part series on NodeJS focusing on establishing a strong foundataion in server side Javascript as well as using Javascript as the full-stack programming language.</p><p>This course is suitable for technically-minded graduates and working professionals in any role, across any industry who would like to use Javascript as a General purpose Programming Language to build variety of applications from desktop tools to fully-functional, robust Enterprise Applications.</p><p>You’ll walk away from this 2-day course confident in your ability to:<ul><li>Build applications using one of the most widely used Javascript server side engine</li><li>Build middleware using Express Framework</li><li>Build automation using GruntJS</li><li>Experience Javascript as a full-stack programming language</li></p>'
      , 'photos'       : ['https://imgee.s3.amazonaws.com/imgee/c188ec0ebb304e9ebec13daa20dab42e.jpeg', 'https://images.hasgeek.com/embed/file/6209f1520252462896c2e8cbb44756d2']
      , 'featured'    : true
      , 'date'        : 'September 10-11, 2016'
      , 'time'        : '9:00 AM to 6:00 PM'
      , 'venue'       : 'Quintype Office'
      , 'price'       : 'Rs. 4800'
      , 'count'       : 1
      , 'links'       : ["www.ramselabs.com/workshops/nodejs.html"]
    }
  }
%}  