{#
      {
        'id'    : 'platinum'
      , 'title' : 'Platinum'
      , 'size'  : 'xl'
    }
-#}
{%
  set types = [
    {
        'id'    : 'gold'
      , 'title' : 'Gold'
      , 'size'  : 'xl'
    }
    , {
        'id'    : 'silver'
      , 'title' : 'Silver'
      , 'size'  : 'l'
    }
    , {
        'id'    : 'bronze'
      , 'title' : 'Bronze'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'speaker-travel'
      , 'title' : 'Speaker Travel Support'
      , 'size'  : 's'
    }
    , {
        'id'    : 'community'
      , 'title' : 'Community'
      , 'size'  : 's'
    }
    , {
        'id'    : 'accommodation'
      , 'title' : 'Accommodation Partner'
      , 'size'  : 's'
    }
    , {
        'id'    : 'corporate'
      , 'title' : 'Corporate Tickets'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'partners'
      , 'title' : 'Community Partners'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'startup-sponsor'
      , 'title' : 'Startup Sponsor'
      , 'size'  : 's'
    }
  ]
%}
{# Logo Orientation can be either 'landscape' or 'portrait' #}
{%
  set items = [
    {
        'title'       : 'Media.net'
      , 'id'          : 'media'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/c7e342aada624fb3aa4841b73ba7c5fa.png'
      , 'link'        : 'http://www.media.net/'
      , 'display'     : 'www.media.net'
      , 'type'        : 'silver'
      , 'blurb'       : '<p>Media.net is a leading global contextual advertising company that provides a wide range of advertising and traffic monetization solutions to a substantial and diversified client base. With more than 450 employees, Media.net has one of the largest teams worldwide building a global contextual advertising business.</p><p>Since its founding, Media.net has constantly broken new ground in building innovative contextual advertising solutions.</p><p>Our services are exclusively made available to web publishers with high-quality content. We aim to consistently deliver long-term superior performance by using leading-edge technology, high-quality research, and proprietary processes that allow us to display the most precisely targeted, highest paying sponsored links and ad topics.<p>To know more, please visit <a href="http://www.media.net/">www.media.net</a></p>'
    },
    {
        'title'       : 'Book My Show'
      , 'id'          : 'book-my-show'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/0f19c00b2f964c4db3cf0100dd19f3c0_w200_h68.png'
      , 'link'        : 'http://www.bookmyshow.com'
      , 'display'     : 'www.bookmyshow.com'
      , 'type'        : 'bronze'
      , 'blurb'       : ''
    },
    {
        'title'       : 'Collective'
      , 'id'          : 'collective'
      , 'logo'        : 'https://images.hasgeek.com/embed/file/0d825b43b7bf4ee3ab4fa9edda4c279f'
      , 'link'        : 'http://www.collective.com'
      , 'display'     : 'www.collective.com'
      , 'type'        : 'bronze'
      , 'blurb'       : '<p>Collective is a leading programmatic, multiscreen advertising technology company that connects brand marketers to consumer audiences with personalized ad experiences across screens and formats. Collective\'s unified view of the consumer platform breaks down traditional media silos and enables brands to control audience reach and frequency and choreograph messaging across TV, PC, tablet and smartphone devices. To learn more about Collective, visit <a href="http://www.collective.com">www.collective.com</a>.</p>'
    },
    {
        'title'       : 'Produle'
      , 'id'          : 'produle'
      , 'logo'        : 'https://images.hasgeek.com/embed/file/b7cadee782c54f66bc72d5f8a28e7b2a'
      , 'link'        : 'http://www.produle.com'
      , 'display'     : 'www.produle.com'
      , 'type'        : 'bronze'
      , 'blurb'       : '<p>Produle is a cloud based product company, where we build easy to use online tools for users to express, create and collaborate their creative thoughts.</p><p> Our product MockFlow DesignCloud empowers designers with an end-to-end solution in a whole new way from planning to building content. Its flagship app, WireframePro - is one of the leading tools for drawing user interfaces and is used by over 19000 customers including large corporations such as Adobe, Amazon, Disney, IBM, Autodesk, Deloitte and many more.</p><p> On the technology side, we have built our own internal boilerplate architecture using JS to quickly bootstrap and create new design tools.</p><p> We are passionate about what we do and are on the lookout for Javascript geeks and Front-end developers to join us in crafting amazing new apps for our DesignCloud.</p>'
    },
    {
        'title'       : 'Razorpay'
      , 'id'          : 'Razorpay'
      , 'logo'        : 'https://images.hasgeek.com/embed/file/90caa117d36845fcb1a8454a3fd7aab8'
      , 'link'        : 'https://razorpay.com'
      , 'display'     : 'razorpay.com'
      , 'type'        : 'startup-sponsor'
      , 'blurb'       : '<p>Razorpay is a developer-friendly payment gateway startup in India on a mission to overhaul the payments infrastructure of the country. We are a Y-Combinator backed startup based out of Bangalore, and offer highly customizable SDKs along with a well designed REST API that lets you handle payments easily.</p><p> Our checkout experience is entirely handled in JavaScript, with the customer never having to face a redirect away from your website. We handle all the other hurdles for you, including PCI Compliance and 3DSecure on payments.</p>'
    }
  ]
%}
