{#
      {
        'id'    : 'platinum'
      , 'title' : 'Platinum'
      , 'size'  : 'xl'
    }
-#}
{%
  set types = [
    {
        'id'    : 'gold'
      , 'title' : 'Gold'
      , 'size'  : 'l'
    }
    , {
        'id'    : 'silver'
      , 'title' : 'Silver'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'bronze'
      , 'title' : 'Bronze'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'speaker-travel'
      , 'title' : 'Speaker Travel Support'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'community'
      , 'title' : 'Community'
      , 'size'  : 's'
    }
    , {
        'id'    : 'corporate'
      , 'title' : 'Corporate Tickets'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'partners'
      , 'title' : 'Community Partners'
      , 'size'  : 'compact'
    }
  ]
%}
{# Logo Orientation can be either 'landscape' or 'portrait' #}
{%
  set items = [
    {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'gold'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    ,{
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'gold'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    , {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'silver'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    , {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'silver'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    , {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'silver'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    , {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'bronze'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    , {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'bronze'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
    , {
        'title'       : 'Logo'
      , 'id'          : 'logo'
      , 'logo'        : 'https://imgee.s3.amazonaws.com/imgee/d425b2a136f2443ba000d535c01a36f7.png'
      , 'orientation' : 'portrait'
      , 'link'        : '#'
      , 'type'        : 'bronze'
      , 'blurb'       : '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu ligula vel lacus hendrerit adipiscing ut at mi. Praesent suscipit diam quis viverra dignissim. In non sem et augue suscipit tempor vel sed metus. Praesent nulla lectus, imperdiet id odio eu, lobortis ultrices magna. Donec tincidunt orci id justo ullamcorper, sed lacinia urna auctor. Maecenas lobortis luctus leo, nec euismod elit commodo nec. Suspendisse lacinia scelerisque risus, at fermentum metus mollis ut. Duis non eros vel metus rhoncus facilisis. Fusce eu pellentesque metus.</p>'
      , 'attendee'    : 'Attendee 1<br>Attendee 2<br>Attendee 3'
      , 'contact'     : 'e-mail'
    }
  ]
%}
