{%
  set items = [
    {
        'type'        : 'Super Early Geek'
      , 'price'       : '2400'
      , 'end_date'    : ''
      , 'msg'         : 'Buy&nbsp;ticket'
      , 'open'        : true
      , 'package'     : 'Two days of conference, breakfast &amp; lunch'
    }
    ,{
        'type'        : 'Workshops'
      , 'price'       : '4000'
      , 'end_date'    : '11th May 2014'
      , 'msg'         : 'Buy&nbsp;ticket'
      , 'open'        : true
      , 'package'     : 'Two days of workshops with lunch'
    }
    ,{
        'type'        : 'Corporate'
      , 'price'       : '7000'
      , 'end_date'    : '11th May 2014'
      , 'msg'         : 'Buy&nbsp;ticket'
      , 'open'        : true
      , 'package'     : 'Two days of conference, breakfast &amp; lunch, ticket sponsorship credit, <br>custom invoice &amp; event t-shirt'
    }
  ]
%}