{% 
  set event = {
      'title' : 'Workshops'
    , 'when'  : '18 — 19<sup class="date">th</sup> September 2013'
    , 'blurb' : '<p>Workshops will cover JS frameworks such as <a href="http://expressjsworkshop.doattend.com/">Express</a> and <a href="http://meteorjsworkshop.doattend.com/">Meteor</a> – to help participants learn how to hack/extend these frameworks to customize something. Other workshops include how to <a href="http://testingworkshop.doattend.com/">evaluate open source testing tools</a>, <a href="http://mobilewebworkshop.doattend.com/">applying HTML5 to mobile websites</a> without killing battery on mobile devices and <a href="http://firefoxosworkshop.doattend.com/">understanding Firefox OS</a> including Open Web Apps, Web APIs and possibilities on the platform.</p><p>All workshops except Automating Automatic Testing will be held at the Microsoft Accelerator Ventures, no. 9, Lavelle Road. The testing workshop will be held at swissnex India, ground floor, No. 26, Rest House Crescent Road.</p>'
  }
%}
{% from theme("data/workshop-schedule-day1.html") import schedule %}
{% if schedule is defined and schedule %}
  {% 
    set nav = [
        {
          'display' : 'Sessions + Schedule'
        , 'link'    : 'workshops#schedule'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'workshops#venue'
      }
    ] 
  %}
{% else %}
  {% 
    set nav = [
        {
          'display' : 'Sessions'
        , 'link'    : 'workshops#sessions'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'workshops#venue'
      }
    ] 
  %}
{% endif %}
{% 
  set action = '<a class="button" href="http://jsfoo.doattend.com">Buy Workshop Tickets</a>'
%}
{% from theme("data/workshop-sessions.html") import sessions, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Sessions'
    , 'link'  : 'workshops#sessions'
    , 'list'  : sessions.values()
    , 'types' : types
  }
%}