{%
  set venue = {
      'title'       : 'swissnex India'
    , 'subtitle'    : 'Rest House Crescent Road'
    , 'poster'      : ''
    , 'address'     : 'swissnex India, Ground Floor, No 26 Rest House Crescent Road, Bangalore'
    , 'map'         : {
        'osm'       : {
            'label' : 'swissnex India'
          , 'zoom'  : 14
          , 'marker': '12.9732, 77.6055'
        }
      , 'google'    : 'http://goo.gl/maps/qGUqm'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9732, 77.6055'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'City'
        , 'route'     : '<p>swissnex India is on Rest House Crescent road, the narrow winding lane that connects Church Street to Brigade Road.</p>'
      }
    ]
  }
%}
