{%
  set venues = {
    'venue1' : {
        'title'       : 'Quintype Office'
      , 'subtitle'    : 'Old Airport Road'
      , 'poster'      : ''
      , 'address'     : '<p>No. 29, Old Airport Road, 3rd Floor, <br>Murgesh Palya, Opp Kemp Fort Mall, <br>Bengaluru, Karnataka 560038<br><a target="_blank" class="darkyellow" href="http://www.quintype.com/">Quintype</a></p>'
      , 'map'         : {
          'osm'       : {
              'label' : 'Quintype Office'
            , 'zoom'  : 14
            , 'marker': '12.9596742, 77.6541583'
          }
        , 'google'    : 'https://goo.gl/maps/mn2vwyHczRx'
      }
      , 'city'        : {
            'title'       : 'Bangalore'
          , 'map'         : {
              'osm'       : {
                'label'   : 'Bangalore'
              , 'zoom'    : 3
              , 'marker'  : '12.9596742, 77.6541583'
            }
          }
          , 'address'     : 'Bangalore<br>Karnataka<br>India'
      }
    }
  }
%}