{%
  set venue = {
      'title'       : 'The Energy and Research Institute (TERI)'
    , 'subtitle'    : 'Domlur'
    , 'poster'      : 'https://imgee.s3.amazonaws.com/imgee/aaa8b13d6ee64adebd0232799485b54a_w500_h375.jpeg'
    , 'address'     : '4th Main Rd, Domlur II Stage, <br>Domlur, Bangalore, <br>Karnataka 560008, India<br><a target="_blank"href="http://www.teriin.org/index.php?option=com_content&task=view&id=25">www.teriin.org</a>'
    , 'map'         : {
        'osm'       : {
            'label' : 'The Energy and Research Institute, Domlur'
          , 'zoom'  : 14
          , 'marker': '12.9637, 77.6381'
        }
      , 'google'    : 'http://goo.gl/maps/E7Pfj'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'Land mark'
        , 'route'     : '<p>next to DOMLUR CLUB</p>'
      }
    ]
  }
%}