{%
  set schedule = {
    'id'    : 'day2'
  , 'day'   : '2'
  , 'date'  : '18<sup class="date">th</sup> Sep'
  , 'schedulelist': false
  , 'list'  : [
        {
          'slot'      : '9:45 am'
        , 'title'     : 'Registrations - Microsoft Ventures Accelerator, No. 9, Lavelle Road'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '10:00 am'
        , 'id'        : 'html5-for-the-masses'
      }
      , {
          'slot'      : '1:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '2:00 pm'
        , 'id'        : 'getting-started-with-firefoxOS'
      }
      , {
        'slot'      : '10:45 am'
        , 'title'     : 'Registrations - swissnex India, ground floor, No. 26, Rest House Crescent Road'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '11:00 am'
        , 'id'        : 'automated-automatic-testing'
      }
    ]
  }
%}