{%
  set schedule = {
    'id'    : 'schedule18'
  , 'date'  : '17<sup class="date">th</sup> Sep'
  , 'schedulelist': false
  , 'list'  : [
        {
          'slot'      : '9:45 am'
        , 'title'     : 'Registrations - Microsoft Ventures Accelerator #9, Lavelle Road'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '10:00 am'
        , 'id'        : 'expressjs-workshop'
      }
      , {
          'slot'      : '1:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '2:00 pm'
        , 'id'        : 'meteorjs-workshop'
      }
    ]
  }
%}