{%
  set schedule = {
    'id'    : 'schedule21'
  , 'date'  : '21<sup class="date">st</sup> Sep (sponsored)'
  , 'list'  : [
        {
          'slot'      : '8:30 am'
        , 'title'     : 'Registrations - MLR Convention Centre, J. P. Nagar'
        , 'duration'  : '60 mins'
      }
      , {
          'slot'      : '9:30 am'
        , 'id'        : 'overview-of-tizen-ecosystem'
      }
      , {
          'slot'      : '10:00 am'
        , 'id'        : 'tizen-rtl'
      }
      , {
          'slot'      : '10:30 am'
        , 'title'     : 'Break'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '10:45 am'
        , 'id'        : 'tizen-web-api'
      }
      , {
          'slot'      : '11:45 am'
        , 'id'        : 'overview-of-native-app-development'
      }
      , {
          'slot'      : '12:45 pm'
        , 'title'     : 'Break'
        , 'duration'  : '105 mins'
      }
      , {
          'slot'      : '02:30 pm'
        , 'id'        : 'tricks-of-the-trade-for-ninja-js-and-web-devs'
      }
    ]
  }
%}
