{%
  set sessions = {
      'asynchronus-javascript-and-promises' : {
        'id'          : 'asynchronus-javascript-and-promises'
      , 'title'       : 'Asynchronus JavaScript and Promises'
      , 'speaker'     : 'Senthil Kumar V'
      , 'designation' : 'Designer, HasGeek'
      , 'duration'    : '2 hrs'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      , 'link'        : 'conference#asynchronus-javaScript-and-promises'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
      , 'preview'     : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
      , 'featured'    : true
    }
    , 'asynchronus-javascript-and-promises-1' : {
        'id'          : 'asynchronus-javascript-and-promises-1'
      , 'title'       : 'Asynchronus JavaScript and Promises'
      , 'speaker'     : 'Senthil Kumar V'
      , 'designation' : 'Designer, HasGeek'
      , 'duration'    : '2 hrs'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      , 'link'        : 'conference#asynchronus-javaScript-and-promises-1'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
      , 'preview'     : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
      , 'featured'    : true
    }
    , 'asynchronus-javascript-and-promises-2' : {
        'id'          : 'asynchronus-javascript-and-promises-2'
      , 'title'       : 'Asynchronus JavaScript and Promises'
      , 'speaker'     : 'Senthil Kumar V'
      , 'designation' : 'Designer, HasGeek'
      , 'duration'    : '2 hrs'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      , 'link'        : 'conference#asynchronus-javaScript-and-promises-2'
      , 'photo'       : theme_static('img/speakers/viz.jpeg')
      , 'funnel'      : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
      , 'preview'     : 'https://funnel.hasgeek.com/jsfoo2013/801-asynchronus-javascript-and-promises'
      , 'featured'    : false
    }
  }
%}
