{%
  set schedule = {
    'id'    : 'schedule'
  , 'date'  : '18<sup class="date">th</sup> Sep'
  , 'items' : [
        {
          'time'      : '9am – 9:30am'
        , 'title'     : 'Registrations'
      }
      , {
          'time'      : '9:30am – 10:30am'
        , 'title'     : 'Asynchronus JavaScript and Promises'
        , 'speaker'   : 'Senthil Kumar V'
        , 'link'      : 'conference/#asynchronus-javascript-and-promises'
        , 'type'      : 'crisp'
      }
      , {
          'time'      : '12pm – 1:30pm'
        , 'title'     : 'Lunch'
      }
      , {
          'time'      : '3pm – 4pm'
        , 'title'     : 'Asynchronus JavaScript and Promises'
        , 'speaker'   : 'Senthil Kumar V'
        , 'link'      : 'conference/#asynchronus-javascript-and-promises-1'
        , 'type'      : 'long'
      }
      , {
          'time'      : '4pm – 5:30pm'
        , 'title'     : 'Asynchronus JavaScript and Promises'
        , 'speaker'   : 'Senthil Kumar V'
        , 'link'      : 'conference/#asynchronus-javascript-and-promises-2'
        , 'type'      : 'long'
      }
    ]
  }
%}