{%
  set venues = {
    'venue1' : {
        'title'       : 'The Energy and Research Institute (TERI)'
      , 'subtitle'    : 'Domlur'
      , 'poster'      : 'https://imgee.s3.amazonaws.com/imgee/aaa8b13d6ee64adebd0232799485b54a_w500_h375.jpeg'
      , 'address'     : '<p>4th Main Rd, Domlur II Stage, <br>Domlur, Bangalore, <br>Karnataka 560008, India<br><a target="_blank" class="darkyellow" href="http://www.teriin.org/index.php?option=com_content&view=article&id=93&Itemid=65">TERI</a></p>'
      , 'map'         : {
          'osm'       : {
              'label' : 'The Energy and Research Institute, Domlur'
            , 'zoom'  : 14
            , 'marker': '12.9637, 77.6381'
          }
        , 'google'    : 'http://goo.gl/maps/E7Pfj'
      }
      , 'city'        : {
            'title'       : 'Bangalore'
          , 'map'         : {
              'osm'       : {
                'label'   : 'Bangalore'
              , 'zoom'    : 3
              , 'marker'  : '12.9833, 77.5833'
            }
          }
          , 'address'     : 'Bangalore<br>Karnataka<br>India'
      }
    },
    'venue2' : {
        'title'       : 'WorkBench Projects'
      , 'subtitle'    : 'Halasuru'
      , 'address'     : '<p>Halasuru Metro Station, <br>Old Madras Road, Gupta Layout, <br>Halasuru, Bengaluru 560008,<br>Karnataka, India<br><a target="_blank" class="darkyellow" href="https://www.workbenchprojects.com/">WorkBench Projects</a></p>'
      , 'map'         : {
          'osm'       : {
              'label' : 'WorkBench Projects, Halasuru'
            , 'zoom'  : 14
            , 'marker': '12.976374, 77.62667399999998'
          }
        , 'google'    : 'http://goo.gl/maps/E7Pfj'
      }
      , 'city'        : {
            'title'       : 'Bangalore'
          , 'map'         : {
              'osm'       : {
                'label'   : 'Bangalore'
              , 'zoom'    : 3
              , 'marker'  : '12.976374, 77.62667399999998'
            }
          }
          , 'address'     : 'Bangalore<br>Karnataka<br>India'
      }
    }
  }
%}