{%
  set venue = {
      'title'       : 'Microsoft Accelerator'
    , 'subtitle'    : 'Lavelle Road'
    , 'poster'      : ''
    , 'address'     : 'Microsoft Ventures, 9 Lavelle Road, Bangalore'
    , 'map'         : {
        'osm'       : {
            'label' : 'Microsoft Accelerator'
          , 'zoom'  : 14
          , 'marker': '12.9662, 77.5965'
        }
      , 'google'    : 'http://goo.gl/maps/vvSjJ'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9662, 77.5965'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'City'
        , 'route'     : '<p>Microsoft Accelerator is at the end of Lavelle Road, near the junction with Richmond Circle and at the far end from MG Road.</p>'
      }
    ]
  }
%}
