{% 
  set event = {
      'title' : 'Workshops'
    , 'when'  : '18<sup class="date">th</sup>, 19<sup class="date">th</sup> &amp; 21<sup class="date">st</sup> September 2013'
    , 'blurb' : '<p>Workshops will cover JS frameworks such as Angular, Meteor and React – to help participants learn how to hack/extend these frameworks to customize something.</p><p>Workshops will be held at The Energy &amp; Resources Institute(TERI), Domlur, Bangalore on 17 &amp; 18 September 2014.</p>'
  }
%}
{% 
  set nav = [
    {
      'display': 'Schedule'
      , 'link' : 'workshops#schedule'
    }
    , {
      'display': 'Sessions'
      , 'link' : 'workshops#sessions'
    }
    , {
      'display': 'Venue'
      , 'link' : 'workshops#workshop-venue'
    }
  ]
%}
{% from theme("data/sessions.html") import workshops %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Sessions'
    , 'link'  : 'workshops#sessions'
    , 'list'  : workshops.values()
    , 'types' : types
  }
%}