{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'workshop'
    , 'date'  : '14 - 15 February'
    , 'day1'  : [
        {
          'slot'      : '09:30'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-check"></i>&nbsp;&nbsp;Check-in &amp; Breakfast'
      }
      , {
          'slot'      : '10:00'
        , 'am_pm'     : 'AM'
        , 'session'   : '1234-getting-up-running-with-angularjs'
      }
      , {
          'slot'      : '06:15'
        , 'am_pm'     : 'PM'
        , 'title'    : '<i class="fa fa-power-off"></i>&nbsp;&nbsp;Closing'
      }     
    ]
    , 'day2'  : [ 
      {
          'slot'      : '08:30'
        , 'am_pm'     : 'AM'
        , 'title'     : '<i class="fa fa-check"></i>&nbsp;&nbsp;Check-in &amp; Breakfast'
      }
      , {
          'slot'      : '09:00'
        , 'am_pm'     : 'AM'
        , 'session'   : '1157-meteor-developing-teamsync-real-time-collaboration'
      }
      , {
          'slot'      : '01:00'
        , 'am_pm'     : 'PM'
        , 'title'     : '<i class="fa fa-cutlery"></i>&nbsp;&nbsp;Lunch'
      }
      , {
          'slot'      : '02:00'
        , 'am_pm'     : 'PM'
        , 'session'   : '1259-building-single-page-apps-with-react-js'
      }
      , {
          'slot'      : '06:15'
        , 'am_pm'     : 'PM'
        , 'title'    : '<i class="fa fa-power-off"></i>&nbsp;&nbsp;Closing'
      } 
        
    ]
  }
%}