{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [
        ('event-summary',       '')
        , ('feature-boxes',        '')
        , ('getting-started',   '')
        , ('run-up-events',     '')
        , ('workshops',         '')
        , ('conference',        '')
        , ('past-highlights',   'primary')
        , ('sponsors-summary',  'darkblue')
    ]
  }
%}

{% block banner %}
{% endblock %}