{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [
        ('event-summary',        'white')
      , ('featured-speakers', 'yellow')
      , ('proposals', 'yellow')
      ,	('schedule', 'yellow')
      , ('tickets', '')
      , ('separator-2', '')
      , ('venue-summary', '')
      , ('sponsors-summary', 'blueprint')
      , ('blog-latest', 'yellow')
      , ('credits', '')
    ]
  }
%}
{% block header %}
<header class="fill-blueprint">
  <div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 secondary">
        <div class="row space-line-top">
          <div class="col-lg-12">
            <div class="dropdown pull-right link-silent tiny ">
              <a id="editions" data-toggle="dropdown" href="#">&nbsp;Bangalore 2014 <i class="fa fa-caret-down"></i>&nbsp;</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a class="push-1q" href="https://jsfoo.in/2013/">Bangalore 2013</a></li>
                <li><a class="push-1q" href="https://jsfoo.in/2012/">Bangalore 2012</a></li>
                <li><a class="push-1q" href="https://jsfoo.in/chennai2012/">Chennai 2012</a></li>
                <li><a class="push-1q" class="push-1q" href="https://jsfoo.in/pune2012/">Pune 2012</a></li>
                <li><a class="push-1q" href="https://jsfoo.in/bangalore2011/">Bangalore 2011</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
{% endblock %}
