{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'       : 'NodeJS Workshop'
    , 'description' : 'Workshops in JSFoo 2016'
  }
%}
{% block content %}
{% with %}
  {% from theme("data/sessions.html") import workshops %}
  {% 
    set session = {
        'id'    : ''
      , 'label' : ''
      , 'link'  : 'workshops#sessions'
      , 'list'  : [workshops['node-js-1']]
      , 'types' : types
    }
  %}
  {% include theme("layouts/sessions.html") %}
{% endwith %}
{% with %}
  {% from theme("data/workshop-venue.html") import venues %}
  {% 
    set venues = {
        'id'    : 'workshop-venue'
      , 'title' : 'Workshop Venue'
      , 'link'  : 'workshops#venue'
      , 'list'  : [venues['venue1']]
      , 'types' : types
    }
  %}
  {% include theme("layouts/venue.html") %}
{% endwith %}
{% endblock %}