<section class="blog push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid space-two-bottom">
      <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">{{ node.title }}</h2>
    </div>
    {% set exists = [] %}
    <div class="row-fluid col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
      {% if node.folder.name != 'blog' %}
        {% set funnel = [] %}
        {% for _node in node.parent.nodes %}
          {% if _node.type == 'funnel_link' %}
            {% if funnel.append(_node) %}{% endif %}
          {% endif %}
        {% endfor %}
        {% if funnel %}
          <h4>Latest Proposals</h4>
          <ul>
            {% for proposal in funnel[0].proposals()[:5] %}
              <li>
                <a href="{{ proposal['url'] }}" title="{{ proposal['title'] }}">{{ proposal['title'] }}</a><br>
                <small class="xs">by {{ proposal['proposer'] }}<br>Votes: {{ proposal['votes'] }} &middot; Comments: {{ proposal['comments'] }}</small>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
    {% for post in feed() -%}
      {% if node.folder.name == 'blog' or node.folder == post.folder %}
        {% if exists.append(1) %}{% endif %}
        <div class="row-fluid">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="post space-two-bottom">       
              <div class="post-title legible semibold"><a class="link-silent green space-1q-bottom" href="{{ url_for('node', folder=post.folder.name, node=post.name) }}">{{ post.title }}</a></div>
              <p class="byline">by <strong>{{ post.author or post.user.fullname }}</strong> &middot; {{ post.published_at|datetime }}{% if node.folder.name == 'blog' and post.folder.name != 'blog' %} &middot; Edition: {{ post.folder.name }}{% endif %}</p>
              <div class="secondary-prose ">{{ post.description }}</div>
            </div>
          </div> 
        </div>
      {% endif %}
    {%- endfor %}
    {% if not exists %}
      <div class="row-fluid container text-center">
        <p>(No blog entries have been written so far)</p>    
      </div>
    {% endif %}
  </div>  
</section>