 <section class="blog-post push-two clearfix {% if background %} fill-{{ background }}{% endif %}">
    <div class="container">
      {% set blog_url = request.scheme + '://' + request.host + '/blog' %}
      {% if node.folder.name != 'blog' and request.referrer != blog_url + '/' and request.referrer != blog_url %}
        {% set blog_url = request.scheme + '://' + request.host + '/' + node.folder.name + '/blog' %}
      {% endif %}
      <div class="row-fluid space-two-bottom">
    	 <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 legible"><a href="{{ blog_url }}"><i class="icon-caret-left"></i> Blog</a></h3>
      </div>
    <div class="row-fluid col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
      <h4>Latest Posts</h4>
      <ul>
        {% set displayed = [] %}
        {% for post in feed() %}
          {% if node.folder.name == 'blog' or node.folder == post.folder %}
            {% if displayed.append(post) %}{% endif %}
            {% if displayed|count <= 5%}
              <li>
                <a href="{{ url_for('node', folder=post.folder.name, node=post.name) }}">{{ post.title }}</a>
                <small>
                  by {{ post.author or post.user.fullname }}<br>
                  {% if node.folder.name == 'blog' and post.folder.name != 'blog' %}Edition: {{ post.folder.name }}<br>{% endif %}
                  {{ post.published_at|datetime }}
                </small>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if displayed|count == 0 %}
          <li>There are no blog posts yet</li>
        {% endif %}
      </ul>
      {% if node.folder.name != 'blog' %}
        {% set funnel = [] %}
        {% for _node in node.parent.nodes %}
          {% if _node.type == 'funnel_link' %}
            {% if funnel.append(_node) %}{% endif %}
          {% endif %}
        {% endfor %}
        {% if funnel %}
          <h4>Latest Proposals</h4>
          <ul>
            {% for proposal in funnel[0].proposals()[:5] %}
              <li>
                <a href="{{ proposal['url'] }}" title="{{ proposal['title'] }}">{{ proposal['title'] }}</a><br>
                <small class="xs">by {{ proposal['proposer'] }}<br>Votes: {{ proposal['votes'] }} &middot; Comments: {{ proposal['comments'] }}</small>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
    <div class="row-fluid">
      <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{ node.title }}</h2>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <p>by <strong>{{ node.author or node.user.fullname }}</strong> &middot; {{ node.published_at|datetime }}</p>
        {{ node.content }}
      </div>
    </div>  
  </section>