{% block banner %}
<div class="container">
  <div class="banner"></div>
  </div>
{% endblock %}
<section class="page-section container clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row">
    <div class="span12 push-one-bottom text-center">
      <h4 class="large">{{ event.subtitle }}</h4>
      {% if event.when %}<p class="legible">{{ event.when|safe }}</p>{% endif %}
    </div>
    
    <div class="span12 space-one-top">
      <div class="legible-prose prose-type prose">
        {{ event.blurb|safe }}
      </div>
      {% if action %}
      <p class="title-type secondary space-one-top">
        {{ action|safe }}
      </p>
      {% endif %}
    </div>
  </div>
</section>
