{% from "baseframe/components.html" import networkbar with context -%}

<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9">     <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js{%- if config['DEBUG'] %} wf-active{% endif %}">        <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}JSFoo: JavaScript Conference in Bangalore, India{% endif %}">
<meta name="author" content="HasGeek and friends">

<meta property="og:title" content="JSFoo 2015{% if page.title %} — {{ page.title }}{% endif %}"/>
<meta property="og:image" content="{{ request.url_root[:-1] }}{{ theme_static('img/logo.png') }}"/>
<meta property="og:url" content="{{ request.url }}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}JSFoo: JavaScript Conference in Bangalore, India{% endif %}"/>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<title>{% if page.title %}{{ page.title }} — {% endif %}JSFoo 2015</title>

{%- if _theme %}
  {% assets "css_" + _theme -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
{%- endif %}

<!-- Leaflet -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.3/leaflet.min.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.3/leaflet.ie.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,400,600" />
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/_baseframe/css/networkbar.css">

<script src="{{ theme_static('js/vendor/modernizr-2.6.2.js') }}"></script>

<!-- <link rel="stylesheet" href="{{ theme_static('css/fonts.css') }}"> -->
<script type="text/javascript" src="//use.typekit.net/gfr4qlr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script>window.jQuery || document.write('<script src="{{ theme_static('js/vendor/jquery-1.10.2.min.js') }}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.3/leaflet.js"></script>

<!-- Facebook Conversion Code for Key Page Views - JSFoo -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6030156043717', {'value':'3000','currency':'INR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030156043717&amp;cd[value]=3000&amp;cd[currency]=INR&amp;noscript=1" /></noscript>

</head>
<body>

<div class="">
  {% block networkbar %}
    {{ networkbar(siteid='events', login=false) }}
  {% endblock %}
</div>
  
<div id="page">
{% block header %}
  <div class="container-fluid fill-primary">
    <div class="row-fluid space-half-bottom">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="cog" class="space-one-top">
          <a class="push-two-top ir logo-small" href="/2015">
            JSFoo 2015</a>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <nav id="site-nav" class="navbar center-xs">
              <ul class="list-plain link-silent legible inline-block space-one-top">
                <!--<li><a class="push-two-top" href="/2015/#conference">Conference</a></li>
                <li><a class="push-two-top" href="/2015/#workshops">Workshops</a></li>
                <li><a class="push-two-top" href="/2015/#run-up-events">Run-up Events</a></li>-->
                <li>
                  <div class="dropdown link-silent tiny">
                    <a id="editions" data-toggle="dropdown" href="#">&nbsp;Bangalore 2015 <i class="fa fa-caret-down"></i>&nbsp;</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a class="push-1q" href="https://jsfoo.in/2014/">Bangalore 2014</a></li>
                      <li><a class="push-1q" href="https://jsfoo.in/2013/">Bangalore 2013</a></li>
                      <li><a class="push-1q" href="https://jsfoo.in/2012/">Bangalore 2012</a></li>
                      <li><a class="push-1q" href="https://jsfoo.in/chennai2012/">Chennai 2012</a></li>
                      <li><a class="push-1q" class="push-1q" href="https://jsfoo.in/pune2012/">Pune 2012</a></li>
                      <li><a class="push-1q" href="https://jsfoo.in/bangalore2011/">Bangalore 2011</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-3">
            <div class="flushright space-one center-xs">
            {% block ticket_button %}
              <a href="https://in.explara.com/e/jsfoo-2015" class="space-one-top button button-on-dark regular dark" title="JSFoo 2015 Tickets on Explara" target="_blank">Buy Ticket</a>
            {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% block banner %}{% endblock %}
  </div>
{% endblock %}


{% block content %}
  {% for item in page.sections  %}
    {% with %}
      {% if item is string %} {% set section = item %} {% else %} {% set section, background = item %} {% endif %}
      {% include theme('sections/'+section+'.html') %}
    {% endwith %}
  {% endfor %}
{% endblock %}


<footer class="page-footer page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center regular space-four-bottom">
          <p class="regular">All organisers, sponsors and attendees are required to follow the conference <a href="code-of-conduct">code of conduct</a>.</p>
          <p class="regular">JSFoo is a conference by HasGeek. Copyright &copy; 2010–15. All rights reserved.</p>
          <p><script type="text/javascript">
          //<![CDATA[
          <!--
          var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
          "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
          " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!55{)rt{y+xx=l;=+;" +
          "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
          "\"(5),5\\\"\\\\[W@QGJEI2Z00\\\\\\\\]M\\\\r0\\\\s=>7>?6+5>02\\\\\\\\5;8<mn22" +
          "\\\\09\\\\\\\"\\\\\\\\\\\\&.; -j-+`/35\\\\0}\\\\ML\\\\\\\\\\\\\\\\XP32\\\\0" +
          "3\\\\03\\\\\\\\XdsYyg02\\\\03\\\\00\\\\\\\\25\\\\0@\\\\ABcI27\\\\0]\\\\BKGL" +
          "RVp zt~9tv~hajjGoe27\\\\0F\\\\25\\\\04\\\\01\\\\\\\\32\\\\05\\\\03\\\\\\\\2" +
          "3\\\\05\\\\03\\\\\\\\0L6W01\\\\\\\\03\\\\06\\\\02\\\\\\\\\\\\n@\\\\`?px88$7" +
          ">'f=*2-'_K\\\\U\\\\\\\\\\\\\\\\(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeC" +
          "oarChomfrg.intr=So+7;12%=;y++)y55i<f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\" +
          "\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                                    ;
          while(x=eval(x));
          //
          //]]>
          </script>
          <a href="tel:+917676332020" class="link-silent">+91-767-633-2020</a></p>
          <div class="legible space-one-top">
            <ul class="link-silent list-plain">
              <li class="inline-block gap-1q"><a href="https://twitter.com/jsfooindia"><i class="fa fa-twitter"></i></a></li>
              <li class="inline-block gap-1q"><a href="https://www.facebook.com/HasGeek"><i class="fa fa-facebook"></i></a></li>
              <li class="inline-block gap-1q"><a href="https://www.youtube.com/user/hasgeek"><i class="fa fa-youtube"></i></a></li>
              <li class="inline-block gap-1q"><a href="https://www.flickr.com/photos/hasgeek/sets/"><i class="fa fa-flickr"></i></a></li>
              <li class="inline-block gap-1q"><a href="http://lanyrd.com/2014/jsfoo/"><i class="occupy bold lean-left">L</i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


</div><!-- #page -->
{%- if not config['DEBUG'] %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{%- endif %}

{%- if _theme %}
  {% assets "js_" + _theme -%}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets -%}
{%- endif %}

<script>
// Google Analytics
if (location.hostname == 'jsfoo.in') {
  var _gaq=[['_setAccount','UA-19123154-15'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
}
</script>

<!-- Prompt IE 6 users to install Chrome Frame. -->
<!-- chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
<script>
  $('#show-more').click(function() {
    $(this).toggleClass('fa-chevron-circle-down');
    $(this).toggleClass('fa-chevron-circle-up');
    $('#event-desc').toggleClass('always-hidden');
  });
</script>
</body>
</html>
