<section class="program-committee page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <h2 class="offset1 span4 extralarge all-caps">{% if page_link %}<a href="{{ page_link }}" class="link-silent">{% endif %}Program Committee{% if page_link %}</a>{% endif %}</h2>
        
    <div class="offset1 span5 legible-prose">
      <ul class="list-space-line list-plain clearfix">
          {% include theme("layouts/partials/linked-title.html") %}
      </ul>
    </div>
  </div>
</section>
