<section class="runup-events clearfix{% if background %} fill-{{ background }}{% endif %}">
  	<div class="container-fluid">
	   {{ runup_list }}
	    <div class="row-fluid">
	    	<ul id="runup-events-cards" class="table-cell">
	    		{% for item in items -%}
	    			<li class="list-silent link-silent text-center space-two-bottom" style="width: 20%; padding: 3px">
		    			{% if item.link %}<a href="{{ item.link }}">{% endif %}
		    				<div class="event-node fill-primary push-half-top">
				    			<div class="regular white">{{ item.title|safe }}</div>
				    			<div class="fixed-bottom">
				    				<h4 class="date all-caps secondary prose-type">{{ item.when|safe }}</h4>
				    				<div class="fill-primary">
							    		<div class="secondary push-1q fill-darkyellow">{{ item.venue|safe }}</div>
							    	</div>
				    			</div>
					    	</div>
					    {% if item.link %}</a>{% endif %}
			  		</li>
				{%- endfor %}
			</ul>    
		</div>
  	</div>
</section>