{% set event = items[node.properties['event_id']|int] %}
{% with %}
    {% set venue_id = node.properties['venue'] %}
    {% if venue_id %}
        {% from theme("data/venues/%s.html" % venue_id) import venue %}
    {% endif %}
    <section class="runup-event push-three clearfix">
        <div class="container">
                {% set title = [] %}
                {% if venue and venue.title %}
                    {% if title.append(venue.title) %}{% endif %}
                    {% if venue.subtitle %}
                        {% if title.append(venue.subtitle) %}{% endif %}
                    {% endif %}
                {% endif %}
                {% set title = ", ".join(title) %}

            <div class="row">
                <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center extralarge">{{ node.title }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center space-one-bottom space-half-top all-caps prose-type medium darkblue">
                    {% if node.start_datetime.strftime('%B %d') == node.end_datetime.strftime('%B %d') %}
                        <span class="regular">{{ node.start_datetime.strftime('%Y %B %d') }}, {{ node.start_datetime.strftime('%I:%M %p') }} - {{ node.end_datetime.strftime('%I:%M %p') }}</span>
                    {% else %}
                        <span class="regular">{{ node.start_datetime.strftime('%B %d, %I:%M %p') }} - {{ node.end_datetime.strftime('%B %d, %I:%M %p') }}</span>
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 space-one-bottom space-half-top">
                    <p class="legible-prose">{{ node.description }}</p>
                    <div class="text-center"><a href="#runup-event-rsvp" class="text-center button regular link-silent">Free event - RSVP here</a></div>
                </div>
            </div>
        </div>
    </section>
{% endwith %}