<section id="{{ schedule.id }}" class="page-section clearfix fill-silver">
  <!-- <div class="row">
    <h2 class="text-center large space-two-bottom">Schedule{% if schedule.date %} — {{ schedule.date|safe }}{% endif %}</h2>
  </div> -->
  <div class="row">
    <div class="col-lg-12">
      {% if schedule.schedulelist %}
        <ul class="unstyled list-plain">
        {% for item in schedule.list %}
          <li id="{{ item.id }}" class="row push-1q">
            <div class="col-lg-2 text-right tiny space-one-bottom clearfix">
              <h3 class="all-caps nospace-top semibold">{{ item.slot|replace(' ', '&nbsp;')|safe }}</h3>
            </div>
          {% if item.id %}
            {% with item = sessions[item.id] %}
              <div class="col-lg-10 tiny nospace-bottom clearfix">
                <div class="row">
                  <div class="col-lg-12">
                    <h3 class="tiny nospace-top semibold"><span class="">{{ item.title }}</span>
                    <span class="tiny faded prose-type italic">– {% if item.duration %}{{ item.duration|replace(' ', '&nbsp;')|safe }}{% else %}{{ types[item.type].duration|replace(' ', '&nbsp;')|safe }}{% endif %}</span></h3>
                    {% if item.speaker or item.designation %}<h4 class="calm italic"><span class="">{{ item.speaker }}</span>{% if item.speaker and item.designation %}<br>{% endif %}{{ item.designation }}</h4>{% endif %}
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-12">
                    <div class="prose-type space-three-bottom">
                      {{ item.blurb|safe }}
                      <ul class="list-plain space-one-top">
                        {% if item.funnel %}<li class="flushleft"><a href="{{ item.funnel }}">Funnel Proposal</a></li>{% endif %}
                        {% if item.preview %}<li class="flushright"><a href="{{ item.preview }}">Preview</a></li>{% endif %}
                      </ul>
                    </div>
                  </div>
                </div> -->
              </div>
            {% endwith %}
            {% else %}
              <div class="col-lg-10 tiny prose prose-type clearfix">
                <h3 class="tiny calm italic nospace-top">{{ item.title }} <span class="tiny faded">– {{ item.duration|replace(' ', '&nbsp;')|safe }}</span></h3>
              </div>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <p class="text-center tiny">We are working on schedule. Meanwhile stay tuned to get updates from <a href="">Funnel</a> and <a href="">@jsfooindia</a></p>
      {% endif %}
    </div>
  </div>
</section>