<section id="tickets" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-12 text-center large space-line-bottom">
      Tickets
    </div>
  </div>
  <div class="row-fluid container">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            {% for ticket in items -%}
              <tr class="{% if ticket.open==true %}fill-silver{% endif %}">
                <td class="bold regular-prose">{{ ticket.type }}</td>
                <td class="hidden-xs">{{ ticket.package | safe }}</td>
                <td class="bold regular-prose">&#8377;{{ ticket.price }}</td>
                <td><{% if ticket.open==false %}span{% else %}a href="http://rootconf.doattend.com/"{% endif %} class="button{% if ticket.open==false %} button-inactive{% endif %}"><span class="hidden-xs">{{ ticket.msg|safe }}</span><span class="visible-xs"><i class="fa fa-ticket"></i></span></{% if ticket.open==false %}span{% else %}a{% endif %}></td>
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{#{% include theme('sections/special-offers.html') %}#}
</section>