<section id="{{ venues.id|default('venue') }}" class="venue push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
      <div class="row">
          <h3 class="col-sm-12 col-xs-12 legible medium all-caps text-center space-one prose-type">{% if venues.title %} {{ venues.title }} {% else %} Venue {% endif %}</h3>
      </div>
      <div class="row">
      {% for venue in venues.list %}
          <div class="pad-line">
              <div class="col-md-10 col-md-offset-1 col-sm-12 fill-darkgray col-xs-12 legible-prose text-center">
                <div class="regular-prose space-one">
                  <p class="legible semibold">{{ venue.title|safe }}</p>
                  <p class="legible">{{ venue.address|safe }}</p>
                </div>
              </div>
          </div>
          <div class="no-js-hidden space-one clearfix">
              <h3 class="visuallyhidden">Map</h3>
              <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 legible-prose prose prose-type clearfix">
                  <div
                    class="border-one leaflet-map col-lg-12 col-md-12 col-sm-12 col-xs-12" id="toner" class="map"
                    data-label="{{ venue.map.osm.label }}"
                    data-zoom="{{ venue.map.osm.zoom }}"
                    data-marker="{{ venue.map.osm.marker }}">
                  </div>
              </div>
          </div>
          {% if venues.showdirections and venue.directions %}
          <div class="space-one col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 venue-directions">
              <h3 class="legible semibold">Getting There</h3>
              {% for direction in venue.directions %}
              <div class="clearfix">
                <p class="regular semibold">From {{ direction.from|safe }}</p>
                <div class="secondary">{{ direction.route|safe }}</div>
              </div>
              {% endfor %}
          </div>
          {% endif %}

          {% if venues.moreinfolink %}
          <div class="space-one col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center">
            <p class="regular semibold"><a href="{{ venues.moreinfolink|safe }}" class="button secondary dark">Find directions</a></p>
          </div>          
          {% endif %}

        {% endfor %}
      </div>
  </div>
</section>