<section id="venue" class="venue-home page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    
    <div class="row">     
      <div class="col-lg-12">
          <h2 class="col-sm-12 col-xs-12 legible medium all-caps text-center space-one prose-type"><span class="fill-black pad-one">Venue</span></h2>
      </div>
    </div>

    <div class="row space-two-bottom space-one-top">      
      <div class="col-lg-12">
        <p class="legible semibold text-center">{{ venue.title|safe }}, {{ venue.subtitle|safe }}</p>
        <p class="legible text-center">{{ venue.address|safe }}</p>
        <p class="text-center"><a href="/2014/venue">More info</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 pad-3q">
        <!-- <h2 class="offset1 span4 extralarge all-caps">{% if page_link %}<a href="{{ page_link }}" class="link-silent">{% endif %}Venue{% if page_link %}</a>{% endif %}</h2> -->
        <div
          class="leaflet-map city-level"
          data-label="{{ venue.map.osm.label }}"
          data-zoom="{{ venue.map.osm.zoom }}"
          data-marker="{{ venue.map.osm.marker }}">
        
          <p class="offset6 span6 legible-prose">
            {{ venue.address|safe }}
          </p>
        
        </div>
      
        <div
          class="leaflet-map country-level"
          data-zoom="{{ venue.city.map.osm.zoom }}"
          data-label="{{ venue.city.map.osm.label }}"
          data-marker="{{ venue.city.map.osm.marker }}">
        
          <p class="offset6 span6 legible-prose">
            {{ venue.city.address|safe }}
          </p>
        
        </div>
      </div>
    </div>
  </div>
</section>
