<section id="{{ venue_id|default('venue') }}" class="page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container">
  <div class="row">     
    <div class="col-lg-12">
        <h2 class="large-prose all-caps text-center border-bottom-line space-one-bottom"><span class="fill-black pad-one">{% if node.name == 'venue' %}{{ event.title }} Venue{% else %}Venue{% endif %}</span></h2>
    </div>
  </div>
  <div class="row space-two-bottom space-one-top">      
    <div class="col-lg-12">
      <p class="legible semibold text-center">{{ venue.title|safe }}, {{ venue.subtitle|safe }}</p>
      <p class="legible text-center">{{ venue.address|safe }}</p>
      <p class="tiny text-center"><a href="{{ venue.map.google }}">View on Google Maps</a></p>
    </div>
  </div>
  
  {% if venue.poster %}
  <div class="row">
    <div class="col-lg-12">
      <div class="full-width"><img src="{{ venue.poster }}" class="contain-width"></div>
    </div>
  </div>
  {% endif %}
  

  <div class="no-js-hidden space-three-bottom">
    <h3 class="visuallyhidden">Map</h3>
    <div class="row">
      <div class="col-lg-12 legible-prose prose prose-type clearfix">
        <div
          class="leaflet-map col-lg-12"
          data-label="{{ venue.map.osm.label }}"
          data-zoom="{{ venue.map.osm.zoom }}"
          data-marker="{{ venue.map.osm.marker }}">
        </div>
      </div>
    </div>
  </div>

  <div class="row space-three-top">
    <h3 class="col-lg-12 legible all-caps space-two-bottom">Directions</h3>

    <div class="col-lg-12 regular thin">
      {% for item in venue.directions %}
        <h4 class="{% if not loop.first %}space-two-top {% endif %}space-one-bottom semibold legible">From {{ item.from }}</h4>
        {{ item.route|safe }}
      {% endfor %}
    </div>
  </div>
</div>
</section>
