<section id="{{ venue_id|default('venue') }}" class="page-section clearfix{% if background %} fill-{{ background }}{% endif %}">

  <div class="row-fluid space-three-bottom">
    <h2 class="offset1 extralarge span4 all-caps">{% if node.name == 'venue' %}{{ event.title }}{% else %}Venue{% endif %}</h2>
    <h3 class="offset1 span5 large all-caps">{{ venue.title }}<span class="regular occupy">{{ venue.subtitle }}</span></h3>
  </div>
  <div class="full-width"><img src="{{ venue.poster }}" class="contain-width"></div>
  
  {% if event.when %}
  <div class="row-fluid space-four-top space-two-bottom">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">When</h3>
  
    <div class="offset1 span5 prose prose-type">
      <p class="legible-prose space-line-bottom">{{ event.when|safe }}</p>
      {% if event.instructions %}<div class="regular-prose">{{ event.instructions|safe }}</div>{% endif %}
    </div>
  </div>
  {% endif %}
  
  <div class="row-fluid space-four-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Address</h3>

    <div class="offset1 span5 legible-prose prose prose-type">
      <div class="prose-type regular-prose space-three-bottom">
        <p>{{ venue.address|safe }}</p>
        <p>
          <a href="{{ venue.map.google }}" class='tiny faded'>View on Google Maps</a>
        </p>
      </div>
    </div>
  </div>

  <div class="no-js-hidden space-three-bottom">
    <h3 class="visuallyhidden">Map</h3>
    <div class="row-fluid">
      <div class="offset6 span5 legible-prose prose prose-type clearfix">
        <div
          class="leaflet-map span12"
          data-label="{{ venue.map.osm.label }}"
          data-zoom="{{ venue.map.osm.zoom }}"
          data-marker="{{ venue.map.osm.marker }}">
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid space-three-top">
    <h3 class="offset1 span4 legible all-caps space-two-bottom">Directions</h3>

    <div class="offset1 span5 regular-prose prose prose-type">
      {% for item in venue.directions %}
        <h4 class="{% if not loop.first %}space-two-top {% endif %}space-one-bottom semibold legible-prose">From {{ item.from }}</h4>
        {{ item.route|safe }}
      {% endfor %}
    </div>
  </div>

</section>
