
.button {
    display: inline-block;
    background: rgb(240, 219, 79);
    color: #000;
    line-height: 1.4;
    padding: 1em 2em 1em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.25em;
    border: 0;
}
.button:hover   { color: #FFFFFF; }
.button-mini    { padding: 0.2em 0.6em; }
.button-on-dark { background: #BB3311; }
.button:focus   { text-decoration: none; }
.button:active  { box-shadow: inset 0 0 10px #000; }

.separated-links + .separated-links:before {
    content: '•';
    margin: 0 .4rem;
    color: rgba(255,255,255,.6);
}

.page-section {
    padding-top:    2rem;
    padding-bottom: 2rem;
}
@media (max-width: 767px) {
    .page-section {
        padding: 3rem 0;
        margin-left:  -20px;
        margin-right: -20px;
        padding-left:  20px;
        padding-right: 20px;
    }
}
.bleed-section {}
@media (max-width: 767px) {
    .bleed-section {
        margin-left:  -20px;
        margin-right: -20px;
    }
}
.pad-section-bleeding {}
@media (max-width: 767px) {
    .pad-section-bleeding {
        padding-left:  20px;
        padding-right: 20px;
    }
}


@media (max-width: 767px) { #hg-bar { padding: 0 20px; } }
#hg-bar { background-color: #FFF !important; border-bottom: none;}

html, body, #page, header, section { 
    height: 100%; 
}
footer, header{
    background-attachment: fixed;
}
.banner { 
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    background-image: url(../img/masthead2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    padding-bottom: 36%;
    height: 100%;
}
section{
    height: auto;
    overflow: hidden;
}

.separator { 
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 36%;
    height: 90%;
}

.separator-0{
    background-image: url(../img/splash/2.jpg);
}
.separator-1{
    /*background-image: url(https://imgee.s3.amazonaws.com/imgee/7384c593d2a944fe9ea6b61d6387de55.png);*/
    background-image: url(../img/splash/2.jpg);
}
.separator-2{
    background-image: url(../img/splash/10.jpg);
}
.hex-separator{
    height: 1px;
    width: 100%;
    background-color: #FFF;

}
svg{
    overflow: hidden;
}
@media (min-width: 768px) {

}
.logo-wrapper{
    height: 100%;
    line-height: 100%;
}
header .logo {
    background: url(../img/logo1.png) no-repeat scroll center center;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    width:       8.5rem;
    padding-top: 8.5rem;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
header .logo:hover,
header .logo:focus {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
}
@media (max-width:767px) {
    .header        { padding: 1rem 0 !important; }
    .header .logo  { margin: 0 auto; }
    .header nav    {
        margin-top: 1rem !important;
        text-align: center;
        text-transform: lowercase;
    }
    .header nav ul { font-size: 1rem; }
    .header h3 {
        position: absolute;
        margin: 0;
        top:    2.4rem;
        left:   0;
        width:  4.5rem !important;
        line-height: 1.3;
    }
    .ticket-link-container  {
        position: absolute;
        top: 1.55rem;
        right: 0;
        max-width: 6rem;
    }
    .ticket-link-container .button { padding: 0.2em 0.6em; }
}
@media (min-width: 768px) {
    .header nav    { margin-top: -0.5rem; }
    .header h3     { margin-top: 1rem; }
}


.program-committee h2 {
    line-height: 1.2;
    margin-top: 1rem;
}
.program-committee ul {
    list-style-type: none;
    margin: 1rem 0 0;
}
@media (max-width: 767px) {
    .program-committee ul                     { margin: 2rem 0 0; }
    .program-committee ul li                  { width: 49%; }
    .program-committee ul li:nth-child(odd)   { float: left;  clear: both;  }
    .program-committee ul li:nth-child(even)  { float: right; }
}
.program-committee a {
    border-bottom: none;
}


.venue-home h2 {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .venue-home .city-level p { margin-top: -4.4rem; }
    .venue-home .country-level p { margin-top: 0; }
}
.js .venue-home {
    border-top:    1px solid #833;
/*    border-bottom: 1px solid #000;*/
    position: relative;
    padding: 0;
/*    padding: 1.5rem;*/
}
.js .venue-home h2 {
    position: absolute;
    z-index: 100;
    color: black;
    width: auto;
    margin: 0;
    padding:0;
    font-size: 3rem;
    right: 1.2rem;
    top:   0.55rem;
}
.js .leaflet-map {
    float: right;
    height: 555px;
    color: black;
}
.js .leaflet-map a { border-bottom: none; }
.js .venue-home .city-level    { width: 65%; }
.js .venue-home .country-level { width: 35%; float: left; }
@media (max-width: 767px) {
    .js .venue-home { padding: 0; }
    .js .venue-home h2 {
        right: 5%;
        top:   5%;
        font-size: 2rem;
        text-shadow: rgba(0,0,0,0.5) 0 0 1px;
    }
    .js .venue-home .city-level    { width: 100%; }
    .js .venue-home .country-level { display: none; }
}
@media (min-height: 300px) { .js .leaflet-map { height: 250px; } }
@media (min-height: 450px) { .js .leaflet-map { height: 425px; } }
@media (min-height: 550px) { .js .venue-home .leaflet-map { height: 535px; } }
@media (min-height: 630px) { .js .venue-home .leaflet-map { height: 620px; } }
@media (min-height: 725px) { .js .venue-home .leaflet-map { height: 725px; } }
@media (min-height: 800px) { .js .venue-home .leaflet-map { height: 800px; } }

.video-thumbnail h4 {
    font-weight: normal;
    margin: 0.75rem 0 0.25rem;
    padding: 0 .5rem 0 1rem;
}
.video-thumbnail h5 {
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0 .5rem 0 1rem;
}

.video-thumbnails > li {
    float: left !important;
    width: 50% !important;
}

@media (max-width: 767px) {
  .video-thumbnails > li:nth-child(odd)  { clear: both; }
  .video-thumbnails > li:nth-child(even) { float: right !important; }
}

@media (min-width: 768px) {
    .video-thumbnails > li { width: 25% !important; margin: 0 !important; }
    .video-thumbnail h4,
    .video-thumbnail h5 { padding: 0 1rem 0 1rem; max-width: 300px; }
}



.sponsor-m > li {
    float: left !important;
    width: 48.5% !important;
    margin-left: 3%;
}
.sponsor-m > li:nth-child(odd) { margin-left: 0; }

.sponsor-s > li {
    float: left !important;
    width: 32% !important;
    margin-left: 2%;
}
.sponsor-s > li:nth-child(3n+1) { margin-left: 0; }

.sponsor-compact { border-radius: 0.25em; background-color: white; }
.sponsor-compact > li {
    float: left !important;
    margin-bottom: 0 !important;
    width: 33.3333% !important;
    width: calc(100/3)% !important;
}
.sponsor-compact > li:nth-child(3n+1) { margin-left: 0; }

.sponsor-logo       { text-align: center; border-radius: 0.25rem; height: 5.34rem; line-height: 3.35rem; padding: .84rem; }
.sponsor-logo:hover { background-color: #E5E5E5 !important; }
.sponsor-logo img   { max-height: 100%; max-width: 100%; }

.sponsor-xl       .sponsor-logo { height: 6.67rem;  line-height: 4rem;    padding: 1.34rem; }
.sponsor-l        .sponsor-logo { height: 5.34rem;  line-height: 3.35rem; padding: .84rem;  }
.sponsor-m        .sponsor-logo { height: 5.34rem;  line-height: 2.68rem; padding: 1.34rem; }
.sponsor-s        .sponsor-logo { height: 4rem;     line-height: 2rem;    padding: .84rem;  }
.sponsor-compact  .sponsor-logo { height: 4rem;     line-height: 2rem;    padding: .84rem;  }

.sponsor-xl .sponsor-logo.contain-width { padding: 1.34rem 3rem; }
.sponsor-l  .sponsor-logo.contain-width { padding: .84rem 4rem;  }


.credits .row-fluid .offset1 {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

@media (min-width: 1200px) {
    .credits .row-fluid .offset1 {
        margin-left: 8.547008547008547%;
        *margin-left: 8.440625568285142%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .credits .row-fluid .offset1 {
        margin-left: 8.56353591160221%;
        *margin-left: 8.457152932878806%;
    }
}
@media (max-width: 767px) {
    .credits .row-fluid [class*="span"] {
        margin-right: 0;
        margin-left: 0;
    }
    .credits .row-fluid .offset1 { margin-left: 0; }
}

.hasgeek-logo {
    background: url(../img/hasgeek-logo.png) no-repeat scroll center center;
    width:  130px;
    height: 120px;
    -webkit-border-radius: 30px 30px 30px 0;
            border-radius: 30px 30px 30px 0;
}
a.hasgeek-logo:hover { background-color: rgba(255,255,255,0.15); }
.nav-tabs>li>a, .nav-tabs>li>a:hover{
    background-color: #537ABD;
    color: #FFF;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #FFFFFF;
    color: #537ABD;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
    background-color: #FFFFFF;
    color: #537ABD;
}
#schedule .nav.nav-tabs>li{
    width: 25%;
}
