
.button {
    display: inline-block;
    background: #E6A813;
    color: #000;
    line-height: 1.4;
    padding: 0.8em 2em 0.7em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.25em;
    border: 0;
    border-bottom: 4px solid #CE9611;
}
.button:hover   { color: #000; background-color: #CE9611; border-color: #B78510; }
.button-mini    { padding: 0.2em 0.6em; }
.button-dark { 
    background: #68CFFF;
}
.button-on-dark { 
    background: #68CFFF;
    border-bottom: none;
}
.button-on-dark:hover { 
    background: #FFF; 
    color: #4487A6 !important;
}
.button:focus   { text-decoration: none; }
.button:active  { box-shadow: inset 0 0 10px #000; }

.separated-links + .separated-links:before {
    content: '•';
    margin: 0 .4rem;
    color: rgba(255,255,255,.6);
}

.page-section {
    padding-top:    2rem;
    padding-bottom: 2rem;
}
@media (max-width: 767px) {
    .page-section {
        padding: 3rem 0;
        margin-left:  -20px;
        margin-right: -20px;
        padding-left:  20px;
        padding-right: 20px;
    }
}
.bleed-section {}
@media (max-width: 767px) {
    .bleed-section {
        margin-left:  -20px;
        margin-right: -20px;
    }
}
.pad-section-bleeding {}
@media (max-width: 767px) {
    .pad-section-bleeding {
        padding-left:  20px;
        padding-right: 20px;
    }
}


@media (max-width: 767px) { #hg-bar { padding: 0 20px; } }
#hg-bar { background-color: #FFF !important; border-bottom: none;}

/*html, body, #page, header, section { 
    height: 100%; 
}
footer .no-touch, header .no-touch{
    background-attachment: fixed;
}*/
.banner { 
    /*position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    display: block;
    background-image: url(../img/2012-stage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 400px;
    border-radius: 10px;
}
/*section{
    height: auto;
    overflow: hidden;
}*/

.separator { 
   /* position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;*/
    background-position: center center;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 14%;
    height: 50%;
}

.separator-0{
    background-image: url(../img/splash/2.jpg);
}
/*.separator-1{
    background-image: url(../img/splash/2.jpg);
}
.separator-2{
    background-image: url(../img/splash/0.jpg);
}*/
.hex-separator{
    height: 1px;
    width: 100%;
    background-color: #FFF;

}
svg{
    overflow: hidden;
}
@media (min-width: 768px) {

}
.logo-wrapper{
    height: 100%;
    line-height: 100%;
}
header .logo {
    background: url(../img/logo.png) no-repeat scroll center center;
    background-size: contain;
    background-position: left;
    height: 0;
    width:       6rem;
    padding-top: 6rem;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
header .logo:hover,
header .logo:focus {
/*    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);*/
}

header nav ul>li>a:hover{
    border-top: 10px solid #CF6F01;
    color: #000;
}
@media (max-width:767px) {
    .header        { padding: 1rem 0 !important; }
    .header .logo  { margin: 0 auto; }
    .header nav    {
        margin-top: 1rem !important;
        text-align: center;
        text-transform: lowercase;
        background-color: red;
    }
    .header nav ul { font-size: 1rem; }
    .header h3 {
        position: absolute;
        margin: 0;
        top:    2.4rem;
        left:   0;
        width:  4.5rem !important;
        line-height: 1.3;
    }
    .ticket-link-container  {
        position: absolute;
        top: 1.55rem;
        right: 0;
        max-width: 6rem;
    }
    .ticket-link-container .button { padding: 0.2em 0.6em; }
}
@media (min-width: 768px) {
    .header nav    { margin-top: -0.5rem; }
    .header h3     { margin-top: 1rem; }
}


.program-committee h2 {
    line-height: 1.2;
    margin-top: 1rem;
}
.program-committee ul {
    list-style-type: none;
    margin: 1rem 0 0;
}
@media (max-width: 767px) {
    .program-committee ul                     { margin: 2rem 0 0; }
    .program-committee ul li                  { width: 49%; }
    .program-committee ul li:nth-child(odd)   { float: left;  clear: both;  }
    .program-committee ul li:nth-child(even)  { float: right; }
}
.program-committee a {
    border-bottom: none;
}


.venue-home h2 {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .venue-home .city-level p { margin-top: -4.4rem; }
    .venue-home .country-level p { margin-top: 0; }
}
.js .venue-home {
/*    border-bottom: 1px solid #000;*/
    position: relative;
    padding: 0;
/*    padding: 1.5rem;*/
}
.js .venue-home h2 {
    position: absolute;
    z-index: 100;
    color: black;
    width: auto;
    margin: 0;
    padding:0;
    font-size: 3rem;
    right: 1.2rem;
    top:   0.55rem;
}
.js .leaflet-map {
    float: right;
    height: 400px;
    color: black;
}
.js .leaflet-map a { border-bottom: none; }
.js .venue-home .city-level    { width: 65%; }
.js .venue-home .country-level { width: 35%; float: left; }
@media (max-width: 767px) {
    .js .venue-home { padding: 0; }
    .js .venue-home h2 {
        right: 5%;
        top:   5%;
        font-size: 2rem;
        text-shadow: rgba(0,0,0,0.5) 0 0 1px;
    }
    .js .venue-home .city-level    { width: 100%; }
    .js .venue-home .country-level { display: none; }
}
/*@media (min-height: 300px) { .js .leaflet-map { height: 250px; } }
@media (min-height: 450px) { .js .leaflet-map { height: 425px; } }
@media (min-height: 550px) { .js .venue-home .leaflet-map { height: 535px; } }
@media (min-height: 630px) { .js .venue-home .leaflet-map { height: 620px; } }
@media (min-height: 725px) { .js .venue-home .leaflet-map { height: 725px; } }
@media (min-height: 800px) { .js .venue-home .leaflet-map { height: 800px; } }
*/
.video-thumbnail h4 {
    font-weight: normal;
    margin: 0.75rem 0 0.25rem;
    padding: 0 .5rem 0 1rem;
}
.video-thumbnail h5 {
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0 .5rem 0 1rem;
}

.video-thumbnails > li {
    float: left !important;
    width: 50% !important;
}

@media (max-width: 767px) {
  .video-thumbnails > li:nth-child(odd)  { clear: both; }
  .video-thumbnails > li:nth-child(even) { float: right !important; }
}

@media (min-width: 768px) {
    .video-thumbnails > li { width: 25% !important; margin: 0 !important; }
    .video-thumbnail h4,
    .video-thumbnail h5 { padding: 0 1rem 0 1rem; max-width: 300px; }
}



.sponsor-l > li {
    float: left !important;
    width: 48.5% !important;
    margin-left: 3%;
}
.sponsor-l > li:nth-child(odd) { margin-left: 0; }

.sponsor-m > li {
    float: left !important;
    width: 32% !important;
    margin-left: 2%;
}
.sponsor-m > li:nth-child(3n+1) { margin-left: 0; }

.sponsor-s > li {
    float: left !important;
    width: 24.25% !important;
    margin-left: 1%;
}
.sponsor-s > li:nth-child(4n+1) { margin-left: 0; }

.sponsor-compact > li {
    float: left !important;
    margin-bottom: 0 !important;
    width: 19.2% !important;
    margin-left: 1%;
}
.sponsor-compact > li:nth-child(5n+1) { margin-left: 0; }

.sponsor-logo       { text-align: center; border-radius: 0.25rem; height: 5.34rem; line-height: 3.35rem; padding: .84rem; }
.sponsor-logo:hover { background-color: rgba(222, 214, 194, 0.2) !important; }
.sponsor-logo img   { max-height: 100%; max-width: 100%; }

.sponsor-xl       .sponsor-logo { height: 6.67rem;  line-height: 4rem;    padding: 1.34rem; }
.sponsor-l        .sponsor-logo { height: 4.34rem;  line-height: 2.35rem; padding: .5rem;  }
.sponsor-m        .sponsor-logo { height: 3.50rem;  line-height: 0.18rem; padding: 0.9rem; }
.sponsor-s        .sponsor-logo { height: 3rem;     line-height: 0.5rem;    padding: .84rem;  }
.sponsor-compact  .sponsor-logo { height: 3rem;     line-height: 0.7rem;    padding: .74rem;  }

.sponsor-xl .sponsor-logo.contain-width { padding: 1.34rem 3rem; }
.sponsor-l  .sponsor-logo.contain-width { padding: .84rem 4rem;  }


.credits .row-fluid .offset1 {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

@media (min-width: 1200px) {
    .credits .row-fluid .offset1 {
        margin-left: 8.547008547008547%;
        *margin-left: 8.440625568285142%;
    }   
}
@media (min-width: 768px) and (max-width: 979px) {
    .credits .row-fluid .offset1 {
        margin-left: 8.56353591160221%;
        *margin-left: 8.457152932878806%;
    }
}
@media (max-width: 767px) {
    .credits .row-fluid [class*="span"] {
        margin-right: 0;
        margin-left: 0;
    }
    .credits .row-fluid .offset1 { margin-left: 0; }
}

.hasgeek-logo {
    background: url(../img/hasgeek-logo.png) no-repeat scroll center center;
    width:  130px;
    height: 120px;
    -webkit-border-radius: 30px 30px 30px 0;
            border-radius: 30px 30px 30px 0;
}
a.hasgeek-logo:hover { background-color: rgba(255,255,255,0.15); }
.nav-tabs>li>a, .nav-tabs>li>a:hover{
    background-color: #CF6F01;
    color: #FFF;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #DED6C2;
    border-color: #DED6C2;
    color: #CF6F01;
}
.nav-tabs>li:last-child>a{
    margin-right: 0;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
    background-color: #E6A813;
    color: #CF6F01;
    border-color: #E6A813;
}
#schedule .nav.nav-tabs>li{
    width: 25%;
}

.img-wrapper .hexagon-in2{
    width: 100%;
}
.speaker-meta{
    height: 150px;
    margin-top: -40px;
}


.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 115%;
    /*background-image: url(http://placekitten.com/240/240);*/
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon2 {
    width: 100%;
    height: 400px;
    margin: -80px 0 0 0px;
    }


.team-hasgeek-caption { color: #888; text-transform: uppercase; margin-top: 2rem; font-size: .8rem; font-weight: normal; }
@media only screen and (min-width: 35em) {
    .team-hasgeek-caption {
        text-transform: capitalize;
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 1.250rem;
        color: #999;
    }
}
.team-hasgeek { max-width: 60em; margin: auto; }
.team-hasgeek a {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 2px #EEE;
            box-shadow: 0 0 0 2px #EEE;
    background-repeat: no-repeat;
    background-size: auto 300%;
    background-image: url(../img/team.jpg);
    background-clip: padding-box;
    overflow: hidden;
}
.team-hasgeek.fill-dark a {
    -webkit-box-shadow: 0 0 0 2px #222;
            box-shadow: 0 0 0 2px #222;
}
.team-hasgeek a > span {
    display: block;
    width: 100%;
    margin-top: -25%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .2rem 0;
}
@media only screen and (min-width: 30em) { .team-hasgeek a > span { font-size: .45rem; } }

.team-hasgeek .jamna a      { background-position: top center; }
.team-hasgeek .kiran a      { background-position: top right; }
.team-hasgeek .mitesh a      { background-position: center left; }
.team-hasgeek .praseetha a  { background-position: center right; }
.team-hasgeek .radha a      { background-position: bottom left; }
.team-hasgeek .tony a   { background-position: bottom center; }
.team-hasgeek .zainab a     { background-position: bottom right; }


.navbar-fixed-top{
    width: 50%;
    right: 0;
    left: auto;
}