/* ========= */
/* = Theme = */
/* ========= */

body{
    /*background-color: #EFEFE7 !important; 
    background-image: url(../img/body.jpg); */
    color: #333;
}
a {
    color: inherit;
    border-bottom: 1px solid;
}
a:hover,
a:focus {
    text-decoration: none;
    border-color: transparent;
    color: #537ABD;
}
a#editions:hover, a#editions:focus {
    color: #000;
}
a#editions{
    background-color: #F0DB4F;
    padding: 0.3em 0.555em;
    border-radius: 3px;
    font-size: 0.65rem;
}
a#editions>i{
    padding-left: 0.2em;
}

.link-silent a,
a.link-silent   { border-bottom: none; }

.prose.prose-type a { border-bottom: none; text-decoration: underline; }


/*  Colours  */

.black          { color: #000000 !important; }
.dark           { color: #444444 !important; }
.gray           { color: #AAAAAA !important; }
.light          { color: #EEEEEE !important; }
.red            { color: #FF3333 !important; }
.orange         { color: #F46353 !important; }
.yellow    { color: rgb(240, 219, 79) !important; }
.white          { color: #FFFFFF !important; }
.faded          { color: rgba(255,255,255,.8) !important; }

.fill-white     { background-color: #FFFFFF !important; color: #444; }
.fill-dark      { background-color: #DED6C2 !important; color: #333; }
.fill-dark-hud  { background-color: rgba(0,0,0,0.65) !important; color: #EEE; }
.fill-black     { background-color: #000000 !important; color: #EEE; }
.fill-silver    { background-color: #EFEFE7 !important; color: #333; }
.fill-silver-hud{ background-color: rgba(255,255,255,0.65) !important; color: #222; }
.fill-red       { background-color: #BB3311 !important; color: #FCF3F3; }
.fill-redgray   { background-color: #EFE7E6 !important; color: #222020; }
.fill-yellow    { background-color: rgb(240, 219, 79) !important; color: #000; }
.fill-lightyellow    { background-color: #EBEB7E !important; color: #000; }
.fill-darkblue  { background-color: #353F67 !important; color: #FFF; }
.fill-blue      { background-color: #43609E !important; color: #000; }
.fill-lightblue { background-color: #6086C4 !important; color: #000; }
.fill-blueprint { 
    background-image: url(https://imgee.s3.amazonaws.com/imgee/c596bb6fe5954b74b870e777dceecb1a.png);
    background-repeat: repeat;
    background-size: 10px; 
}

.fade-red-to-dark {
    background-image: -webkit-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:    -moz-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:      -o-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:         linear-gradient(top bottom,#BB3311 20%, #121212);
}
