<section id="code" class="nospace-top clearfix{% if background %} fill-{{ background }}{% endif %}">  
  <div class="container">
    <div class="row space-one-bottom">
      <div class="regular space-one-top">
        {% with f = fragment('2017', 'code-of-conduct-body') %}
          <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 all-caps space-three-top space-two-bottom large semibold text-center">{{ f.title }}</h3>
          {{ f.content }}
        {% endwith %}
      </div>
    </div>
  </div>
</section>
