<section id="code" class="page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">  
  <div class="row-fluid space-two-bottom">
    <h3 class="offset1 span4 large all-caps space-three-bottom">The Code</h3>
    
    <div class="offset1 span5 regular-prose prose prose-type">
      <p>HasGeek is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference attendees in any form.</p>
      <p>All communication should be appropriate for a professional audience including people of many different backgrounds.</p>
    </div>
  </div>

  <div class="row-fluid space-two-bottom">
    <h4 class="offset1 span4 regular all-caps space-one-bottom"><span class="visuallyhidden">Code </span>for Speakers</h4>
    
    <div class="offset1 span5 regular-prose prose prose-type">
      <p>Sexual language and imagery is not appropriate during talks. Refrain from using these in your slides. Sexist, racist, or exclusionary jokes are not acceptable.</p>
    </div>
  </div>
  
  <div class="row-fluid space-two-bottom">
    <h4 class="offset1 span4 regular all-caps space-one-bottom"><span class="visuallyhidden">Code </span>for Sponsors</h4>
    
    <div class="offset1 span5 regular-prose prose prose-type">
      <p>Sponsors are also subject to the anti-harassment policy. Exhibitors should not use sexualised images, activities, or other material. Booth staff should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
    </div>
  </div>
  
  <div class="row-fluid space-two-bottom">
    <h4 class="offset1 span4 regular all-caps space-one-bottom"><span class="visuallyhidden">Code </span>for Participants</h4>
    
    <div class="offset1 span5 regular-prose prose prose-type">
      <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    </div>
  </div>
  
  <div class="row-fluid space-two-bottom">
    <h4 class="offset1 span4 regular all-caps space-one-bottom">Action</h4>
    
    <div class="offset1 span5 regular-prose prose prose-type">
      <p>Attendees asked to stop any harassing behaviour are expected to comply immediately.</p>
      <p>If an attendee engages in behaviour that violates this code of conduct, the conference organisers may take any action they deem appropriate, including warning the offender or expelling him or her from the premises with no refund.</p>
    </div>
  </div>

  <div class="row-fluid space-four-top space-two-bottom">
    <p class="offset1 span10 prose-type prose large-prose">Thank you for helping make JSFoo 2013 a welcoming, friendly&nbsp;event&nbsp;for&nbsp;all.</p>
  </div>

</section>
