<section id="contact" class="page-section clearfix{% if background %} fill-{{ background }}{% endif %}"> 
<div class="container-fluid"> 
  <div class="row-fluid">
    <h3 class="col-lg-3 legible all-caps space-one-bottom no-space-top prose-type medium">Contact</h3>
    
    <div class="col-lg-9 regular">
      <p>If you are being harassed, have noticed that someone else is being harassed, or have any other concerns, please contact a crew member. Conference staff will wear white coloured lanyards with “HasGeek” printed in purple and orange. Ask them to put you in touch with the HasGeek organizing team.</p>
      <p>If the matter is especially urgent, please call/contact any of these individuals:</p>
      
      <ul>
        <li>Zainab Bawa: +91 99454 73641</li>
        <li>Kiran Jonnalagadda: +91 99452 35123</li>
      </ul>
      
      <p>Crew members are there to help participants contact the organizing team and assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
    </div>
  </div>
  </div>
</section>
