<section class="code-of-conduct page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">
  
  <div class="row-fluid">
    <div class="offset1 span4 push-one-bottom">
      <h2 class="extralarge all-caps">Code of Conduct</h2>
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="#code">The Code</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    
    <div class="offset1 span5 legible-prose prose prose-type space-one-top">
      <p>
        JSFoo 2013 is a community conference intended for collaboration and networking between developers.
        We value the presence of every attendee and want everyone to have an enjoyable and fulfilling experience. All attendees are therefore expected to show respect and courtesy to other attendees throughout the workshops and the conference.</p>
      <p>All attendees – participants, speakers, exhibitors, organisers and volunteers – at JSFoo 2013 are required to adhere to the following Code of Conduct. Organisers will enforce this code throughout the event.</p>
    </div>
  </div>
</section>
