<section class="code-of-conduct page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
      <div class="row">     
        <div class="col-lg-12">
            <h2 class="large-prose all-caps text-center border-bottom-line space-one-bottom"><span class="fill-black pad-one">Code of conduct</span></h2>
        </div>
      </div>
    <div class="row">
      <div class="regular prose prose-type space-one-top pad-half">
        <p>
          JSFoo 2013 is a community conference intended for collaboration and networking between developers.
          We value the presence of every attendee and want everyone to have an enjoyable and fulfilling experience. All attendees are therefore expected to show respect and courtesy to other attendees throughout the workshops and the conference.</p>
        <p>All attendees – participants, speakers, exhibitors, organisers and volunteers – at JSFoo 2013 are required to adhere to the following Code of Conduct. Organisers will enforce this code throughout the event.</p>
      </div>
    </div>
  </div>
</section>
