<section id="contact" class="page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">  
  <div class="row-fluid">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Contact</h3>
    
    <div class="offset1 span5 regular-prose prose prose-type">
      <p>If you are being harassed, have noticed that someone else is being harassed, or have any other concerns, please contact a crew member. Conference staff will be wearing “CREW” badges. Ask them to put you in touch with the lead organizer — Zainab Bawa.</p>
      <p>If the matter is especially urgent, please call/contact any of these individuals:</p>
      
      <ul>
        <li>Zainab Bawa: +91 99454 73641</li>
        <li>Radha Rao: +91 90356 26606</li>
        <li>Kiran Jonnalagadda: +91 99452 35123</li>
      </ul>
      
      <p>Crew members are there to help participants contact appropriate authorities, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
    </div>
  </div>
</section>
