<section class="code-of-conduct page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container-fluid">
      <div class="row-fluid">     
        <div class="col-lg-12">
            <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 all-caps space-three-top space-two-bottom large bold prose-type text-center">Code of conduct</h3>
        </div>
      </div>
    <div class="row-fluid">
      <div class="regular space-one-top pad-half">
        <p>
          JSFoo 2014 is a community conference intended for collaboration and networking between developers.
          We value the presence of every attendee and want everyone to have an enjoyable and fulfilling experience. All attendees are therefore expected to show respect and courtesy to other attendees throughout the workshops and the conference.</p>
          <p>All attendees – participants, speakers, exhibitors, organisers and volunteers – at JSFoo 2014 are required to adhere to the following Code of Conduct. Organisers will enforce this code throughout the event.</p>
      </div>
    </div>
  </div>
</section>
