<section id="conference" class="page-section">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="pad-three-left nopad-xs extralarge all-caps prose-type bold"><span class="darkyellow">4.3</span> <span class="darkblue">Conference</span></div>
    </div>
    <div class="col-lg-12">
      <div class="legible calm pad-six nopad-xs space-three-bottom space-one-top">
        <div>19 - 20 September 2014</div>
        <div>MLR Convention Centre, JP Nagar, Bangalore</div>
        <p class="push-one-top">Interested in talking at JSFoo? Feel free to propose a session at <a href="https://funnel.hasgeek.com/jsfoo2014/">HasGeek Funnel</a>. Also view and vote on submitted talk proposals.</p>
        <div class="push-one-top"><span class="all-caps prose-type regular medium">Funnel Status:</span>&nbsp;<a class="darkblue link-silent" href="https://funnel.hasgeek.com/jsfoo2014/">Accepting Submissions</a></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section push-line-bottom">
  <div class="container-fluid fill-white">
    <div class="row-fluid legible-prose dark body-type">
      <div class="col-sm-6 col-xs-12 space-half-bottom"><a href="https://funnel.hasgeek.com/jsfoo2014/" class="button button-on-dark flushright center-xs all-lower"><i class="fa fa-filter"></i>&nbsp;&nbsp;Jsfoo Funnel</a></div>
      <div class="col-sm-6 col-xs-12 space-half-bottom"><a href="https://twitter.com/jsfooindia" class="button button-on-dark all-lower center-xs"><i class="fa fa-twitter"></i>&nbsp;&nbsp;@jsfooindia</a></div>
    </div>
  </div>
</section>