<section class="credits page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container">
  <div class="row">
    <h2 class="offset1 large space-two-bottom text-center">The Team</h2>
  </div>
  
  <div class="row">
    <div class="col-lg-12 pull-right clearfix">
      <div class="row-fluid">
        <div class="span10 regular-prose prose-type prose">
          <p><a href="http://hasgeek.com/">HasGeek</a> helps people in technology meet each other, collaborate on new opportunities and advance the state of the art. We organize conferences, hacknights, workshops and geekups, and provide tools for communities to self-organize.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <ul class="team-hasgeek thumbnail-columns thumbnail-columns-seven regular clearfix nospace list-plain">
        <li class="jamna clearfix"><a class="occupy block-link" href="#"><span>Jamna<span class="visuallyhidden"> Vyas</span></span></a></li>
        <li class="kiran clearfix"><a class="occupy block-link" href="#"><span>Kiran<span class="visuallyhidden"> Jonnalagadda</span></span></a></li>
        <li class="mitesh clearfix"><a class="occupy block-link" href="#"><span>Mitesh<span class="visuallyhidden"> Ashar</span></span></a></li>
        <li class="praseetha clearfix"><a class="occupy block-link" href="#"><span>Praseetha<span class="visuallyhidden"> K R</span></span></a></li>
        <li class="radha clearfix"><a class="occupy block-link" href="#"><span>Radha<span class="visuallyhidden"> Rao</span></span></a></li>
        <li class="tony clearfix"><a class="occupy block-link" href="#"><span>Tony<span class="visuallyhidden">  Simon</span></span></a></li>
        <li class="zainab clearfix"><a class="occupy block-link" href="#"><span>Zainab<span class="visuallyhidden"> Bawa</span></span></a></li>
      </ul>
    </div>

  </div>
  </div>
</section>
