<section class="credits page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container">
  <div class="row">
    <h2 class="offset1 large space-two-bottom text-center">The Team</h2>
  </div>
  
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="regular">
        <p>Editorial Panel: Sidharth Kuruvila and Zainab Bawa. <br>Advisory: Hemanth and Shwetank. <br>Special thanks to Amit Kapoor for mentoring, helping in talk rehearsals.</p>
        <p>HasGeek Team: Anish TP, Beli Bopaiah, Hari Chakkattumukkil, Jaya Lakshmi, Jyothsna Vinod, Kiran Jonnalagadda, Mak, Murali Krishna, Raghu Mohan, Sandhya Ramesh, Shreyas Satish, Vidya Ramakrishnan and Zainab Bawa.</p>
        <p>A special thanks to all the volunteers. Abhilash V, Arunkumar Krishnamoorthy, Ashok Sahoo, Harshal Bhatia, Mukul Bisen, Raghavendra AK, Raghav Badaskar, Yogesh Joshi and the team of Geekskool: Aditya Bhushan Dwivedi, Akshar Dave, Anusanthya Shanthakumar, Aravindan, Angad Pal Singh, Jayesh, Manisha Rana, Mukesh Munisubbanna, Raghavendra AK, Rahul Rayaprolu, Rajarshi Sen, Rishabh Mishra, Santosh Rajan and Sruti.</p>
      </div>
    </div>
  </div>
  </div>
</section>
