<section class="credits page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container">
  <div class="row">
    <h2 class="offset1 large space-two-bottom text-center">The Team</h2>
  </div>
  
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row-fluid">
        <div class="span10 regular">
          <p class="regular">HasGeek Team: Anish TP, Hari C M, Karthik Balakrishnan, Kiran Jonnalagadda, Rajasekharreddy Sagamreddy, Shreyas Satish, Vaman Kamath, Vidya Ramakrishnan and Zainab Bawa. </p>
          <p class="regular">A special thanks to all the volunteers. Abhimanyu, Aditya Kathpalia, Jessy James, Jyothsna Vinod, Kingsly, Konarak, Madhan M, Muhammed Rajeef M K, Niti Sree, Praseetha, Yogesh Joshi, Sindhu S and the entire team of Geekskool: Archana Raut, Arunkrishnan, Arun S, Karthik Yelchuru, Keshav Meda, Mansi Shah, Revanth,Sai Charan, Sanket, Santosh Rajan.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
