<!-- {% with %}
  {% from theme("data/editorial-panel.html") import items %}
  {% include theme("layouts/editorial-panel.html") %}
{% endwith %} -->
<section id="editorial" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row">
      <h2 class="col-sm-12 col-xs-12 legible medium all-caps text-center space-one-top space-two-bottom prose-type">The Editorial Panel</h2>
      <ul class="space-half-top list-plain list-silent">
        <li class="col-md-3 col-sm-4 col-xs-6 text-center space-two-bottom">
          <div>
            <img class="speaker-image" src="https://images.hasgeek.com/embed/file/f7d3132ec50a4b6da32791c7ddaf0ae3" alt="Santosh Rajan">
          </div>
          <div>
            <h2 class="regular bold space-1q-top nospace-bottom">Santosh Rajan</h2>
            <h3 class="secondary-prose nospace">Founder of Geekskool</h2>
          </div>           
        </li>
        <li class="col-md-3 col-sm-4 col-xs-6 text-center space-two-bottom">
          <div>
            <img class="speaker-image" src="https://images.hasgeek.com/embed/file/cb5c9eed02a14ac0b94edbd1c8ea7e4b" alt="Shwetank Dixit">
          </div>
          <div>
            <h2 class="regular bold space-1q-top nospace-bottom">Shwetank Dixit</h2>
            <h3 class="secondary-prose nospace">Extensions Program Manager and Web Evangelist, Opera Software</h2>
          </div>           
        </li>
        <li class="col-md-3 col-sm-4 col-xs-6 text-center space-two-bottom">
          <div>
            <img class="speaker-image" src="https://images.hasgeek.com/embed/file/82523327c7e1459e86681189d8980efd" alt="Sindhu S">
          </div>
          <div>
            <h2 class="regular bold space-1q-top nospace-bottom">Sindhu S</h2>
            <h3 class="secondary-prose nospace">Hacker School alumni</h2>
          </div>           
        </li>
        <li class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-6 text-center space-two-bottom">
          <div>
            <img class="speaker-image" src="https://images.hasgeek.com/embed/file/7a777d77f5c54740a28de00ef24724c7" alt="Zainab Bawa">
          </div>
          <div>
            <h2 class="regular bold space-1q-top nospace-bottom">Zainab Bawa</h2>
            <h3 class="secondary-prose nospace">Co-founder at HasGeek</h2>
          </div>           
        </li>
      </ul>
    </div>
  </div>
</section> 