<section id="feature-boxes" class="push-two-top push-four-bottom pad-four">
  <div class="container-fluid">
    <div class="row-fluid text-center">
    <h2 class="col-sm-12 col-xs-12 legible medium all-caps text-center space-one prose-type">Ticket Details</h2>
      <div class="box fill-lightblue col-md-6 push-one">
        <h3 class="all-caps regular bold prose-type">Conference</h3>
        <div class="divider-line"></div>
        <ul class="list-silent nopad regular clearboth">
          <li class="push-half-top">September 18 - 19</li>
          <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre, JP Nagar, Bangalore</li>
          <li class="large semibold push-half-top push-1q-bottom">Rs. 3000 <span class="tiny">
Super early geek</span></li>
<!--           <li><a href="https://in.explara.com/e/jsfoo-2015" class="button button-ghost-dark semibold secondary-prose">Get Ticket</a></li> -->
          <li class="push-1q-top secondary-prose">Single day conference tickets are also available</li>
        </ul>
      </div>
      <div class="box fill-darkblue col-md-6 push-one">
        <h3 class="all-caps regular bold prose-type">Conference Dinner</h3>
        <div class="divider-line"></div>
        <ul class="list-silent nopad regular clearboth">
          <li class="push-half-top">September 18</li>
          <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre, JP Nagar, Bangalore</li>
          <li class="large semibold push-half-top push-1q-bottom">Rs. 3000</li>
<!--           <li><a href="https://in.explara.com/e/jsfoo-2015" class="button button-ghost-dark semibold secondary-prose">Get Ticket</a></li> -->
        </ul>
      </div>
      <a href="https://in.explara.com/e/jsfoo-2015" class="space-two-top space-one-bottom button regular dark" title="JSFoo 2015 Tickets on Explara" target="_blank">Buy Tickets</a>
    </div>
  </div>
</section>