<section id="ticket-details" class="ticket push-two-top push-four-bottom">
  <div class="container-fluid">
    <div class="row-fluid text-center">
      <h2 class="col-sm-12 col-xs-12 legible medium all-caps text-center space-one prose-type">Ticket Details</h2>

      <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
       <div class="box box1 space-one-bottom">
          <div class="box-front-side fill-lightyellow show-side">
            <h3 class="all-caps regular bold prose-type">Workshop</h3>
            <div class="divider-line"></div>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top secondary">September 16: Node.js Workshop</li>
              <li class="secondary">September 17: AngularJs Workshop</li>
              <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp; The Energy and Research Institute (TERI), Bangalore</li>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 12000 <span class="tiny">
    per workshop</span></li>
            </ul>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top secondary">September 20: NodeBots &amp; JS Hardware Workshop</li>
              <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;  Workbench Projects, Halasuru Metro Station, Bangalore</li>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 15000</li>
            </ul>
            <p class="turn-right darkblue">Read more...</p>
          </div>
          <div class="box-back-side fill-lightyellow">
            <h3 class="secondary semibold">Node.js Workshop on September 16</h3>
            <p class="secondary">Rs. 12000</p>
            <p class="orange secondary"><a href="https://jsfoo.talkfunnel.com/2015/62-nodejs-workshop" target="_blank">View workshop details</a></p>
            <h3 class="secondary semibold">AngularJs Workshop on September 17</h3>
            <p class="secondary">Rs. 12000</p>
            <p class="orange secondary"><a href="https://jsfoo.talkfunnel.com/2015/63-angularjs-workshop" target="_blank">View workshop details</a></p>
            <h3 class="secondary semibold">NodeBots &amp; JS Hardware Workshop on September 20</h3>
            <p class="secondary">Rs. 15000</p>
            <p class="orange secondary"><a href="https://jsfoo.talkfunnel.com/2015/39-nodebots-js-hardware-workshop" target="_blank">View workshop details</a></p>
            <p class="turn-left"><i class="fa fa-undo blue secondary"> Back</i></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="box box2 space-one-bottom">
         <div class="box-front-side fill-lightblue show-side">
            <h3 class="all-caps regular bold prose-type">Conference</h3>
            <div class="divider-line"></div>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top">September 18 - 19</li>
              <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre, JP Nagar, Bangalore</li>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 3800 <span class="tiny">
    Early Geek</span></li>
              <li class="push-1q-top secondary-prose">Single day conference tickets are also available</li>
            </ul>
            <p class="turn-right blue">Read more...</p>
          </div>
          <div class="box-back-side fill-lightblue">
            <h3 class="regular semibold">Conference</h3>
            <p class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp; The Energy and Research Institute (TERI), Bangalore</p>
            <p class="secondary">Rs. 3800</p>
            <p class="secondary-prose">This ticket gives you to entry only to JSFoo conference on 18 and 19 September. The ticket gives you access to food coupons, materials and participant kit. <br>If you are an outstation participant, you have to organize your own accommodation. This ticket does not provide you accommodation. </p>
            <p class="orange secondary"><a href="https://jsfoo.talkfunnel.com/2015/" target="_blank">View Funnel Submissions</a></p>
            <p class="turn-left"><i class="fa fa-undo blue secondary"> Back</i></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="box box3 space-one-bottom">
          <div class="box-front-side fill-dark show-side">
            <h3 class="all-caps regular bold prose-type">Conference Dinner</h3>
            <div class="divider-line"></div>
            <ul class="list-silent nopad regular clearboth">
              <li class="push-half-top">September 18</li>
              <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre, JP Nagar, Bangalore</li>
              <li class="large semibold push-half-top push-1q-bottom">Rs. 3000</li>
            </ul>
            <p class="turn-right blue">Read more...</p>
          </div>
          <div class="box-back-side fill-dark">
            <h3 class="regular bold">Conference Dinner</h3>
            <p class="secondary">September 18</p>
            <p class="secondary-prose"><i class="fa fa-map-marker"></i>&nbsp; The Energy and Research Institute (TERI), Bangalore</p>
            <p class="secondary">Rs. 3000</p>
            <p>This ticket gives you to entry to networking dinner with conference speakers, sponsors and participants on 18 September. <br>The dinner will take place at the lawns of the MLR Convention Centre, J P Nagar.</p>
            <p class="turn-left"><i class="fa fa-undo blue secondary"> Back</i></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 space-two-top space-one-bottom">
        <a href="https://in.explara.com/e/jsfoo-2015" class="button regular dark" title="JSFoo 2015 Tickets on Explara" target="_blank">Buy Tickets</a>
      </div>
    </div>
  </div>
</section>