<section id="feature-boxes">
  <div class="container-fluid nopad">
    <div class="row-fluid text-center">
      <div class="box fill-lightblue col-md-4 push-one">
        <h3 class="all-caps regular bold prose-type">NodeJS Workshop</h3>
        <div class="divider-line"></div>
        <ul class="list-silent nopad regular clearboth">
          <li class="push-half-top">September 10 - 11</li>
          <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;Quintype Office<br>Murugeshpalya, Bangalore</li>
          <li><a href="http://jsfoo.doattend.com/" class="button button-ghost-dark semibold secondary-prose">Get Ticket</a></li>
        </ul>
      </div>
      <div class="box fill-darkblue col-md-4 push-one">
        <h3 class="all-caps regular bold prose-type">JSFoo Conference</h3>
        <div class="divider-line"></div>
        <ul class="list-silent nopad regular clearboth">
          <li class="push-half-top">September 15 - 16</li>
          <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre<br>JP Nagar, Bangalore</li>
          <li><a href="http://jsfoo.doattend.com/" class="button button-ghost-dark semibold secondary-prose">Get Ticket</a></li>
        </ul>
      </div>
      <div class="box fill-darkyellow col-md-4 push-one">
        <h3 class="all-caps regular-prose bold prose-type">Meta Refresh Conference</h3>
        <div class="divider-line"></div>
        <ul class="list-silent nopad regular clearboth">
          <li class="push-half-top">September 17</li>
          <li class="push-half-top secondary-prose"><i class="fa fa-map-marker"></i>&nbsp;MLR Convention Centre<br>JP Nagar, Bangalore</li>
          <li><a href="http://jsfoo.doattend.com/" class="button button-ghost-dark semibold secondary-prose">Get Ticket</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>