<section id="getting-started">
  <div class="container-fluid nopad">
    <div class="row-fluid">
      <div class="box col-md-12 push-one">
        <h3 class="regular text-center"><span class="prose-type all-caps bold">Getting started with</span> <span class="darkyellow">&#123;&#123;</span> <span class="darkblue">jsfoo</span> <span class="darkyellow">&#125;&#125;</span></h3>
        <div class="divider-line"></div>
        <ul id="content-box" class="list-silent nopad regular clearboth">
          <li class="large semibold push-half-top push-1q-bottom">.01 <a href="#run-up-events">Run-up Events</a></li>
          <li class="large semibold push-half-top push-1q-bottom">.02 <a href="#workshops">Workshops</a></li>
          <li class="large semibold push-half-top push-1q-bottom">.03 <a href="#conference">Conference</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>