<section id="grants" class="push-two-top push-four-bottom {% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <h2 class="col-sm-12 col-xs-12 legible medium text-center space-one">JSFoo 2015 GRANTS</h2>
      <div class="col-sm-12 col-xs-12 space-two">
        <p class="secondary link-silent"><a href="http://hasgeek.com" class="orange" target="_blank">HasGeek</a> believes in diversity of participation at the conferences. We would like to make every effort to include members from underrepresented groups at our conferences. We have therefore introduced a grants programme for all our upcoming conferences.</p>
        <p class="secondary">Grants are intended to provide financial assistance and/or opportunities to members of these groups and enable them to participate in the community. We will make up to 5 grants available for every conference. Actual number of grants will be awarded depending on the quality of applications. Those who receive the grant will get to watch some of best speakers from the tech community talk about their craft and cutting edge technology.</p>
        <h4 class="regular bold">Who can apply?</h4>
        <p class="secondary">Grants are open to 
        <ul>
          <li class="secondary">Non-working individuals such as women professionals who have dropped out of active coding careers to take sabbaticals either by choice or compulsion</li>
          <li class="secondary">Individuals with disabilities</li>
          <li class="secondary">Individuals who have financial constraints such as students, people from remote parts of the country, professionals (with less than one year of work experience).</li>
        </ul>
        <h4 class="regular bold">What does this grant include ?</h4>
        <ul>
          <li><p class="secondary">Free pass to attend two days of JSFoo 2015 conference</p></li>
        </ul>
        <h4 class="regular bold">How do I apply?</h4>
        <p class="secondary">The applications are reviewed and granted on the basis of information gathered from the form. So, please ensure to include a write-up of your project in Javascript and link to source code of the project.</p>
        <p class="regular bold link-silent"><a href="https://docs.google.com/forms/d/1kL52WH7l4LAsO5_JpaMmUHvfzXzLpYCIH11yqsvIZUs/viewform" class="button button-on-dark dark" title="JSFoo 2015 Grants Application Form" target="_blank">Apply now</a></p>
        <p class="secondary">Deadline for submitting applications is 10th September 2015.</p>
<!--         <p class="regular bold text-center">Grants closed.</p>
        <p class="secondary text-center">Thank you for your applications. Grants are now in evaluation.</p> -->
        <p class="secondary">For any queries regarding grant, write to us at <a href="mailto:grants@hasgeek.com" class="link-silent orange">grants@hasgeek.com</a></p>
      </div>
    </div>
  </div>
</section>
