<section id="hotels" class="clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container">
  <div class="row">     
    <div class="col-lg-12">
        <h2 class="large-prose all-caps text-center border-bottom-line space-one-bottom"><span class="fill-black pad-one">Hotels near to Venue</span></h2>
    </div>
  </div>
  <div class="row">
    {% with %}
      {% from theme("data/hotels.html") import types, items %}

      <div class="table-responsive pad-3q space-half-top">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4">Hotel Name</th>
              <th>Address &amp; Website</th>
              <th>Contact</th>
              <th>Distance from Venue</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody class="tiny prose prose-type semibold unstyled">
            {% for item in items  %}         
                <tr class="fill-gray">             
                  <td class="bold secondary-prose semibold" colspan="4">{{ item.title }}</td>
                  <td>{{ item.address|safe }}</td>
                  <td>{{ item.contact|safe }}</td>              
                  <td>{{ item.distance }} km</td>
                  <td>{% for t in types %}{% if item.type == t.id %}{{ t.title|safe }}{% endif %}{% endfor %}</td>
                </tr>        
            {% endfor %}
          </tbody>
        </table>    
      </div>    
    {% endwith %}
  </div>
  </div>
</section>
