<section id="highlights" class="highlights push-two clearfix">
  <div class="container">
    <div class="row-fluid">
      <h3 class="text-center push-1q-bottom large">Past Editions of JSFoo</h3>
      <div id="past-editions-json" class="link-silent secondary space-two-top">
        <div><code>{</code></div>
        <div><code class="pad-one-left">"jsfoo": {</code></div>
        <div><code class="pad-two-left">"editions": [</code></div>
        <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/bangalore2011/"><code class="darkyellow">2011-12</code></a><code>", "city": <br class="visible-xs">["</code><a target="_blank" href="https://jsfoo.in/bangalore2011/"><code class="darkblue">Bangalore</code></a><code>", "</code><a target="_blank" href="https://jsfoo.in/pune2012/"><code class="darkblue">Pune</code></a><code>", "</code><a target="_blank" href="https://jsfoo.in/chennai2012/"><code class="darkblue">Chennai</code></a><code>"] },</code></div>
        <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2012/"><code class="darkyellow">2012</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2012/"><code class="darkblue">Bangalore</code></a><code>" },</code></div>
        <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2013/"><code class="darkyellow">2013</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2013/"><code class="darkblue">Bangalore</code></a><code>" },</code></div>
        <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2014/"><code class="darkyellow">2014</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2014/"><code class="darkblue">Bangalore</code></a><code>" }</code></div>
        <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2015/"><code class="darkyellow">2015</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2015/"><code class="darkblue">Bangalore</code></a><code>" }</code></div>
         <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2016/"><code class="darkyellow">2016</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2016/"><code class="darkblue">Bangalore</code></a><code>" }</code></div>
        <div><code class="pad-two-left">]</code></div>
        <div><code class="pad-one-left">}</code></div>
        <div><code>}</code></div>
      </div>
    </div>
  </div>
  <div class="clearboth push-three-top push-half-bottom">
    <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
      {% for talk in getnode(path='past-featured-talks').data['talks'] %}
        <li class="push-one-bottom text-center">
          <article class="video-thumbnail secondary">
            <p>
              <a href="{{talk.video_url}}" target="_blank" data-label="{{talk.title}}" data-target="{{talk.video_url}}">
                <img alt="{{talk.title}}" src="{{talk.banner}}">
              </a>
            </p>
            <h4>
              <a href="{{talk.video_url}}" class="orange" target="_blank" data-label="{{talk.title}}" data-target="{{talk.video_url}}">
                {{talk.title}}
              </a>
            </h4>
            <h5>{{talk.speaker}}</h5>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="clearboth space-one text-center">
    <a href="https://www.youtube.com/user/hasgeek" target="_blank" class="button regular dark">Watch Videos on HasGeek TV</a>
  </div>
</section>
