<section class="highlights page-section push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
  <div class="row-fluid">
    <h3 class="col-sm-12 col-xs-12 legible medium all-caps text-center space-one prose-type">Past Editions of JSFoo</h3>
    <div id="past-editions-json" class="link-silent secondary space-two-top">
      <div><code>{</code></div>
      <div><code class="pad-one-left">"jsfoo": {</code></div>
      <div><code class="pad-two-left">"editions": [</code></div>
      <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/bangalore2011/"><code class="darkyellow">2011-12</code></a><code>", "city": <br class="visible-xs">["</code><a target="_blank" href="https://jsfoo.in/bangalore2011/"><code class="darkblue">Bangalore</code></a><code>", "</code><a target="_blank" href="https://jsfoo.in/pune2012/"><code class="darkblue">Pune</code></a><code>", "</code><a target="_blank" href="https://jsfoo.in/chennai2012/"><code class="darkblue">Chennai</code></a><code>"] },</code></div>
      <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2012/"><code class="darkyellow">2012</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2012/"><code class="darkblue">Bangalore</code></a><code>" },</code></div>
      <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2013/"><code class="darkyellow">2013</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2013/"><code class="darkblue">Bangalore</code></a><code>" }</code></div>
      <div><code class="pad-three-left">{ "year": "</code><a target="_blank" href="https://jsfoo.in/2014/"><code class="darkyellow">2014</code></a><code>", "city": "</code><a target="_blank" href="https://jsfoo.in/2014/"><code class="darkblue">Bangalore</code></a><code>" }</code></div>
      <div><code class="pad-two-left">]</code></div>
      <div><code class="pad-one-left">}</code></div>
      <div><code>}</code></div>
    </div>

    <div class="clearboth space-one text-center">
      <a href="https://hasgeek.tv/jsfoo/" class="button regular dark">Watch Videos on HasGeek TV</a>
    </div>
    
   <!--  <div class="clearboth push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li>
          <article class="video-thumbnail">
            <p>
              <a target="_blank" href="https://hasgeek.tv/jsfoo/2013-1/887-bringing-the-open-web-and-apis-to-mobile-devices-with-firefox-os">
                <img alt="Bringing the open web and APIs to mobile devices with Firefox OS" src="https://imgee.s3.amazonaws.com/imgee/3ee1b3451d594bea9af2d6f24d8ae7d4.jpeg">
              </a>
            </p>
            <h4>
              <a class="secondary-prose" target="_blank" href="https://hasgeek.tv/jsfoo/2013-1/887-bringing-the-open-web-and-apis-to-mobile-devices-with-firefox-os">
                Bringing the open web and APIs to mobile devices with Firefox OS
              </a>
            </h4>
            <h5>
              Robert Nyman
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail">
            <p>
              <a target="_blank" href="https://hasgeek.tv/jsfoo/2013-1/683-killing-passwords-with-javascript">
                <img alt="Killing Passwords with JavaScript" src="https://imgee.s3.amazonaws.com/imgee/8a02b70573c843aeae243bf4659baad5.jpeg">
              </a>
            </p>
            <h4>
              <a class="secondary-prose" target="_blank" href="https://hasgeek.tv/jsfoo/2013-1/683-killing-passwords-with-javascript">
                Killing Passwords with JavaScript
              </a>
            </h4>
            <h5>
              Francois Marier
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail">
            <p>
              <a target="_blank" href="https://hasgeek.tv/jsfoo/2013-2/690-gif-animations-now-with-sound">
                <img alt="GIF animations - Now with sound" src="https://imgee.s3.amazonaws.com/imgee/0c5360e507124ef7b58e6bb5f4f0c29d.jpeg">
              </a>
            </p>
            <h4>
              <a class="secondary-prose" target="_blank" href="https://hasgeek.tv/jsfoo/2013-2/690-gif-animations-now-with-sound">
                GIF animations - Now with sound!
              </a>
            </h4>
            <h5>
              Hage Yaapa
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail">
            <p>
              <a target="_blank" href="https://hasgeek.tv/jsfoo/2013-2/688-interactive-physics-simulation-in-the-browser-what-i-learned">
                <img alt="Interactive Physics Simulation In The Browser - What I Learned" src="https://imgee.s3.amazonaws.com/imgee/a3d8f9944c854eabab649f168e77b2d3.jpeg">
              </a>
            </p>
            <h4>
              <a class="secondary-prose" target="_blank" href="https://hasgeek.tv/jsfoo/2013-2/688-interactive-physics-simulation-in-the-browser-what-i-learned">
                Interactive Physics Simulation In The Browser - What I Learned
              </a>
            </h4>
            <h5>
              Nilesh Trivedi
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail">
            <p>
              <a target="_blank" href="https://hasgeek.tv/jsfoo/2013-2/687-html5-for-the-masses-making-the-future-the-now">
                <img alt="HTML5 for the masses - making the future the now" src="https://imgee.s3.amazonaws.com/imgee/c566c057be164f0baabdfc1f6d630df0.jpeg">
              </a>
            </p>
            <h4>
              <a class="secondary-prose" target="_blank" href="https://hasgeek.tv/jsfoo/2013-2/687-html5-for-the-masses-making-the-future-the-now">
                HTML5 for the masses - making the future the now
              </a>
            </h4>
            <h5>
              Christian Heilmann
            </h5>
          </article>
        </li>
      </ul>
    </div> -->
  </div>
  </div>
</section>
