<section class="highlights page-section nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <div class="offset1 span4 push-one-bottom">
      <h2 class="extralarge all-caps">Previously at&nbsp;JSFoo</h2>
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="//jsfoo.in/2012">Bangalore&nbsp;2012</a></li>
        <li><a href="//jsfoo.in/chennai2012/">Chennai&nbsp;2012</a></li>
        <li><a href="//jsfoo.in/pune2012/">Pune&nbsp;2012</a></li>
        <li><a href="//jsfoo.in/bangalore2011/">Bangalore&nbsp;2011</a></li>
      </ul>
    </div>
    
    <div class="offset1 span5 legible-prose prose-type space-one-top">
      <p>
        The first season of JSFoo featured editions in Bangalore, Pune and Chennai between Oct 2011 and Feb 2012. The fourth edition in Bangalore in Oct 2012 was based on the theme “JavaScript Everywhere”&nbsp;— featuring JavaScript on web servers, embedded in robots, as a cross-platform language for mobile, and in its original home, the browser.
      </p>
    </div>
  </div>
  
  <div class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Highlights</h3>
    
    <div class="offset1 span3 contain-width link-silent">
      <article class="ngap-one pad-one push-one-bottom fade-red-to-dark video-thumbnail prose-type clearfix">
        <p>
          <a href="https://hasgeek.tv/jsfoo/2012/78-pushing-the-boundary-of-whats-possible">
            <img alt="" src="{{ theme_static('img/2012-rajasekharan-vengalil.jpg') }}">
          </a>
        </p>
        <h4>
          <a href="https://hasgeek.tv/jsfoo/2012/78-pushing-the-boundary-of-whats-possible">
            Pushing the Boundary of What’s Possible
          </a>
        </h4>
        <h5>
          Rajasekharan Vengalil
        </h5>
      </article>
    </div>
    
    <div class="clearboth full-width fill-dark push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/204-beautiful-visualizations-with-d3-js">
                <img alt="" src="{{ theme_static('img/2012-anand-s.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/204-beautiful-visualizations-with-d3-js">
                Beautiful visualizations with d3.js
              </a>
            </h4>
            <h5>
              Anand S
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/75-programming-for-canvas-with-createjs-what-can-you-do-in-40-mins">
                <img alt="" src="{{ theme_static('img/2012-harish-sivaramakrishnan.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/75-programming-for-canvas-with-createjs-what-can-you-do-in-40-mins">
                Programming for Canvas with CreateJS - In 40 mins.
              </a>
            </h4>
            <h5>
              Harish Sivaramakrishnan
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/72-scaling-node-at-errorception">
                <img alt="" src="{{ theme_static('img/2012-rakesh-pai.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/72-scaling-node-at-errorception">
                Scaling Node at Errorception
              </a>
            </h4>
            <h5>
              Rakesh Pai
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/207-controlling-robots-using-javascript">
                <img alt="" src="{{ theme_static('img/2012-sudar-muthu.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/207-controlling-robots-using-javascript">
                Controlling robots using JavaScript
              </a>
            </h4>
            <h5>
              Sudar Muthu
            </h5>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
