<section class="highlights page-section nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  
  <div class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible text-center prose-type all-caps space-one-bottom">Past Editions</h3>

    <ul class="table-cell list-silent buttons secondary-prose all-caps prose-type">
      <li><a href="" class="link-silent">2013 Bangalore</a></li>
      <li><a href="" class="link-silent">2012 Bangalore</a></li>
      <li><a href="" class="link-silent">2012 Chennai</a></li>
      <li><a href="" class="link-silent">2012 Pune</a></li>
      <li><a href="" class="link-silent">2011 Bangalore</a></li>
    </ul>
    
    <div class="clearboth full-width push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/204-beautiful-visualizations-with-d3-js">
                <img alt="" src="https://images.hasgeek.com/embed/file/ce0de9ba0a324cf0a17dcdd91434de51">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/204-beautiful-visualizations-with-d3-js">
                Beautiful visualizations with d3.js
              </a>
            </h4>
            <h5>
              Anand S
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/75-programming-for-canvas-with-createjs-what-can-you-do-in-40-mins">
                <img alt="" src="https://images.hasgeek.com/embed/file/ce0de9ba0a324cf0a17dcdd91434de51">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/75-programming-for-canvas-with-createjs-what-can-you-do-in-40-mins">
                Programming for Canvas with CreateJS - In 40 mins.
              </a>
            </h4>
            <h5>
              Harish Sivaramakrishnan
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/72-scaling-node-at-errorception">
                <img alt="" src="https://images.hasgeek.com/embed/file/ce0de9ba0a324cf0a17dcdd91434de51">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/72-scaling-node-at-errorception">
                Scaling Node at Errorception
              </a>
            </h4>
            <h5>
              Rakesh Pai
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/207-controlling-robots-using-javascript">
                <img alt="" src="https://images.hasgeek.com/embed/file/ce0de9ba0a324cf0a17dcdd91434de51">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/207-controlling-robots-using-javascript">
                Controlling robots using JavaScript
              </a>
            </h4>
            <h5>
              Sudar Muthu
            </h5>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
