<section>
	<div class="col-lg-6 push-three-top {% if background %} fill-{{ background }}{% endif %} separator separator-0">
	</div>
	<div class="col-lg-6 push-two fill-white">
		<h1 class="legible">Interested in speaking at JSFoo?</h1>
		<p class="regular">Interested in speaking? Anyone is welcome to propose a session on HasGeek Funnel. Final talks will be selected based on voting from participants as well as editorial panel.</p>
		<p><a href="" class="button tiny">Propose a talk</a></p>
	</div>
</section>