<section id="run-up-events" class="push-four-bottom {% if background %} fill-{{ background }}{% endif %}">
  <div class="fill-lightblue">
    <div class="pad-line nopad-xs space-three-top extralarge all-caps prose-type bold"><span class="darkyellow">4.1</span> <span class="darkblue">Run-up events</span></div>
  </div>
<div class="push-three-top">
{% with %}
  {% from theme("data/runup-events.html") import items %}
  {% include theme("layouts/runup-events.html") %}
{% endwith %}
</div>
</section> 