<section id="run-up-events" class="page-section">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="pad-three space-three-top extralarge all-caps prose-type bold"><span class="darkyellow">4.1</span> <span class="darkblue">Run-up events</span></div>
    </div>
    <div class="col-lg-12">
      <div class="legible-prose calm pad-six space-one link-silent">
        We are organizing run-up events in different cities across India.
      </div>
    </div>
  </div>
</section> 
{% with %}
  {% from theme("data/runup-events.html") import items %}
  {% include theme("layouts/runup-events.html") %}
{% endwith %}