{% from theme("data/event-summary.html") import event %}
<section id="schedule" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
	<div class="container-fluid">
		<div class="row-fluid">
		    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 large all-caps text-center space-two-bottom">Schedule</h2>
		</div>
	  	<div class="row">	    
		 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      		<p class="regular text-center pad-four space-one-top">We are working on the schedule. Meanwhile get updates on <a href="https://funnel.hasgeek.com">funnel</a> or <a href="https://twitter.com/jsfooindia">@jsfooindia</a>.
	    	</div>
	  	</div>
	  	<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space-one-top space-two-bottom">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs all-caps text-center regular">
				  <li><a href="#home" data-toggle="tab">Sept 17 - Workshops<br>Day 1</a></li>
				  <li><a href="#profile" data-toggle="tab">Sept 18 - Workshops<br>Day 2</a></li>
				  <li class="active"><a href="#messages" data-toggle="tab">Sept 19 - Conference<br>Day 3</a></li>
				  <li><a href="#settings" data-toggle="tab">Sept 20 - Conference<br>Day 4</a></li>
				</ul>

				
				</div>
			</div>
		</div>
	</div>
</section>

