{% include theme("layouts/schedule-table.html") %}        
<section id="schedule" class="push-two clearfix">        
 <div class="container schedule-container">          
  <div class="text-center" id="conference-schedule">       
    <h2 class="text-center push-1q-bottom large">Conference Schedule</h2>      
     <div class="schedule-table-container text-center" id="conferenceschedule">      
       <p class="text-center loadingtxt"><a class="button dark regular" href="{{ node.properties.propose_talk}}schedule/json" target="_blank">View Schedule</a></p>       
     </div>       
   </div>       
 </div>         
</section>
