{% from theme("data/event-summary.html") import event %}
<section id="schedule" class="space-two-bottom">
	<div class="container">
		<div class="row">	    
		 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      		<h2 class="large-prose all-caps text-center border-bottom-line"><span class="fill-black pad-one">Schedule</span></h2>
	    	</div>
	  	</div>
	  	<div class="row">	    
		 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      		{% if event.funnel %}<p class="regular pad-four space-one-top">We are working on the schedule. Meanwhile get updates on <a href="https://funnel.hasgeek.com">funnel</a> or <a href="https://twitter.com/jsfooindia">@jsfooindia</a>. If you are interested in talking at JSFoo, feel free to propose a session at <a href="https://funnel.hasgeek.com">funnel</a>.</p>
	      		<p class="regular thin text-center space-one"><a href="{{event.funnel}}" class="button">Propose a talk</a></p>{% else %}<p class="regular pad-four space-one-top text-center">Follow <a href="https://twitter.com/jsfooindia">@jsfooindia</a> for the updates.</p><p class="regular thin text-center space-one"><a href="{{event.funnel}}" class="button"><i class="fa fa-youtube-play pad-1q-right"></i>Watch videos</a></p>{% endif %}
	    	</div>
	  	</div>
	  	<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space-one-top space-two-bottom">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs all-caps text-center regular">
				  <li><a href="#home" data-toggle="tab">Sept 17 - Workshops<br>Day 1</a></li>
				  <li><a href="#profile" data-toggle="tab">Sept 18 - Workshops<br>Day 2</a></li>
				  <li class="active"><a href="#messages" data-toggle="tab">Sept 19 - Conference<br>Day 3</a></li>
				  <li><a href="#settings" data-toggle="tab">Sept 20 - Conference<br>Day 4</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane" id="home">
				  	{% with %}
					  {% from theme("data/workshop-schedule-day1.html") import schedule %}
					  {% from theme("data/workshop-sessions.html") import sessions, types %}
					  {% include theme("layouts/schedule.html") %}
					{% endwith %}
				  </div>
				  <div class="tab-pane" id="profile">
				  	{% with %}
					  {% from theme("data/workshop-schedule-day2.html") import schedule %}
					  {% from theme("data/workshop-sessions.html") import sessions, types %}
					  {% include theme("layouts/schedule.html") %}
					{% endwith %}
				  </div>
				  <div class="tab-pane active" id="messages">
				  	{% with %}
					  {% from theme("data/conference-schedule-day1.html") import schedule %}
					  {% from theme("data/conference-sessions.html") import sessions, types %}
					  {% include theme("layouts/schedule.html") %}
					{% endwith %}
				  </div>
				  <div class="tab-pane" id="settings">
				  	{% with %}
					  {% from theme("data/conference-schedule-day2.html") import schedule %}
					  {% from theme("data/conference-sessions.html") import sessions, types %}
					  {% include theme("layouts/schedule.html") %}
					{% endwith %}
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>

