<section class="separator separator-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 push-three-top">
				<h1 class="title-type white">Interested in speaking at JSFoo?</h1>
				<p class="white legible-prose">Interested in speaking? Anyone is welcome to propose a session on HasGeek Funnel. Participants who have purchased conference tickets will vote on session proposals. The Editorial Panel steering The JSFoo 2014 will also vote on submissions and balance the community voting.</p>
				<p><a href="" class="button tiny">Propose a talk</a></p>
			</div>
		</div>
	</div>
</section>