<section class="separator separator-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-6 push-three-top">
				<h1 class="title-type white">Interested in speaking at JSFoo?</h1>
				<p class="white legible-prose">Interested in speaking? Anyone is welcome to propose a session on HasGeek Funnel. Final talks will be selected based on voting from participants as well as editorial panel.</p>
				<p><a href="" class="button tiny">Propose a talk</a></p>
			</div>
		</div>
	</div>
</section>