<section id="sponsors" class="sponsors push-two clearfix nopush-bottom{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <h2 class="extralarge all-caps space-one-bottom">Sponsors</h2>
  </div>
</section>

{% with fill_cycler = cycler('fill-blue', 'fill-gray') %}
  {% set types = getnode(path='2017-sponsors').data['types'] %}
  {% set items = getnode(path='2017-sponsors').data['items'] %}
  {% for type in types %}
    {% set outer = loop %}
    {% for item in items if item.type == type.id and type.size != 's'  %}
      {% if loop.first %}
      <section class="sponsor-platinum {{ fill_cycler.next() }} clearfix">
        <div class="row-fluid container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 push-one-top">
            <h2 class="legible all-caps space-one-bottom">{{ type.title }}</h2>
          </div>     
        </div>
      {% endif %}
        <div id="{{ type.id }}-{{ item.id }}" class="row-fluid container push-two-top">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 legible space-two-bottom clearfix clearboth">
            <p class="clearfix space-two-bottom">
              <a href="{{ item.link }}" target="_blank" class="occupy fill-white sponsorlogo contain-height flushleft">
                <img alt=" " src="{{ item.logo }}">
              </a>
            </p>
            
            {% if item.attendee %}
            <h4 class="tiny all-caps nospace faded">Sponsor Attendee</h3>
            <p class="regular prose-type space-half-top space-one-bottom link-silent">{{ item.attendee|safe }}</p>
            {% endif %}
            
            {% if item.contact %}
            <h4 class="tiny all-caps nospace faded">Contact</h3>
            <p class="regular prose-type space-half-top space-one-bottom link-silent">{{ item.contact|safe }}</p>
            {% endif %}
            
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 regular-prose prose prose-type space-three-bottom">
            <div class="legible space-half-bottom"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></div>
              {% with f = fragment('2017', item.blurb) %}
                {{ f.content }}
              {% endwith %}
          </div>
        </div>
      {% if loop.last %}
      </section>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endwith %}
