<section id="sponsors" class="sponsors page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
<div class="container space-one">
  <div class="row text-center">    
    <div class="col-lg-12">
        <h2 class="large-prose all-caps text-center border-bottom-line"><span class="fill-black pad-one">Sponsors</span></h2>
    </div>
    
    <div class="col-lg-12 regular prose-type space-one-top">
      <p>We pour our heart and soul into creating a friendly, memorable and inspiring community event for everybody involved. We keep the ticket prices as affordable as possible, and we'd be happy to welcome dear sponsors to make the event best in every possible way. Showcase your platforms, tools and APIs, and engage the best developers and designers across the country. Please <a href="mailto:info@hasgeek.com">contact us</a> and let's make it happen!
      </p>
      
      <p class="tiny space-line-top space-two-bottom">
        <a class="button visuallyhidden" href="#">Get Sponsorship Deck</a>
      </p>
    </div>
  </div>
  <div class="pad-half">
  {% with %}
    {% from theme("data/sponsors.html") import types, items %}
    {% for type in types %}
      {% set outer = loop %}
      {% for item in items if item.type == type.id  %}
        {% if loop.first %}
        <div id="sponsors-{{ type.id }}" class="row nospace">
          <div class="col-lg-12 regular all-caps space-half">{{ type.title }}</div>

          <ul class="col-lg-12 nospace-bottom list-plain link-silent clearfix list-space-line sponsor-{{ type.size }}">
        {% endif %}
          <li>
              <a href="{% if type.size == 'compact' %}{{ item.link }}{% else %}sponsors#{{ type.id }}-{{ item.id }}{% endif %}" class="occupy fill-gray sponsor-logo {% if item.orientation == 'portrait' %}contain-height{% elif item.orientation == 'landscape' %}contain-width{% endif %}">
                <img alt="{{ item.title }}" src="{{ item.logo }}">
              </a>
          </li>
        {% if loop.last %}
          </ul>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endwith %}
  </div>
</div>
</section>
