<section id="startup" class="push-two-top push-four-bottom {% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <h2 class="col-sm-12 col-xs-12 legible medium text-center space-one all-caps"><img src="{{ theme_static('img/startup-raid-logo.jpg') }}" class="startupraid-logo" alt="Startup Raid"></h2>
      <h3 class="col-sm-12 col-xs-12 legible medium text-center nospace-top space-half-bottom">Discover unexplored corners of Bangalore’s startup neighbourhoods. <br>Visit startups, learn what they do and get early access to their products.</h3>
      <h4 class="col-sm-12 col-xs-12 regular text-center space-1q-top space-one-bottom">14 - 16 September, 2015</h4>
      <p class="regular text-center nospace-top space-one-bottom">We're in the process of curating the event hosts.<br> Subscribe below and we'll notify you as soon as we go live.</p>
      <form id='notifyme' action="" role="form" class="text-center nospace-top space-one-bottom">
        <input type="text" id="emailid" name="email-id" placeholder="Enter your email id" class="gap-half secondary email-input"></input>
        <button class="button secondary dark notifybtn">Notify Me</button>
        <p class="notifyme-status secondary skyblue space-1q-top"></p>
      </form>
      <p class="regular bold link-silent text-center space-one"><a href="https://docs.google.com/forms/d/1H2OIz0GT7H6W9NkQeU-I1VGGoVCZ8ZSeV_ijEe6IAgs/viewform" class="button regular dark" title="JSFoo 2015 Scholarship Application Form" target="_blank">Host a session</a></p>
      <ul class="link-silent list-plain text-center">
        <li class="inline-block regular">Follow Startup Raid updates on</li>
        <li class="inline-block gap-1q secondary"><a href="https://www.facebook.com/StartupRaid" target="_blank"><i class="fa fa-facebook"></i></a><a class="gap-half-left" href="https://twitter.com/StartupRaid" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
      <p class="secondary text-center">For any queries regarding this, write to <a href="mailto:hari@hasgeek.com" class="link-silent orange">hari@hasgeek.com</a></p>
    </div>
  </div>
</section>
