<section class="venue page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <div class="offset1 span4">
      <h2 class="extralarge all-caps">Venue &amp; Local&nbsp;Info</h2>
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="venue#conference-venue">Conference Venue</a></li>
        <li><a href="venue#party-venue">Party Venue</a></li>
        <li><a href="venue#hotels">Hotels</a></li>
      </ul>
    </div>
  </div>
</section>