<section class="venue-home page-section fill-dark clearfix">
  <div class="row-fluid">
    <h2 class="offset1 span4 extralarge all-caps">Venue</h2>
    <div
      class="leaflet-map city-level"
      data-label="MLR Convention Centre, J. P. Nagar"
      data-zoom="14"
      data-marker="12.891476, 77.585079">
      
      <p class="offset6 span6 legible-prose">
        MLR Convention Centre<br>
        Brigade Millenium Campus<br>
        J P Nagar 7th phase
      </p>
      
    </div>
    
    <div
      class="leaflet-map country-level"
      data-zoom="3"
      data-label="Bangalore"
      data-marker="12.9833, 77.5833">
      
      <p class="offset6 span6 legible-prose">
        Bangalore<br>
        Karnataka<br>
        India
      </p>
      
    </div>
  </div>
</section>
