<section id="workshops" class="page-section">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="pad-three-left extralarge all-caps prose-type bold"><span class="darkyellow">.02</span> <span class="darkblue">Workshops</span></div>
    </div>
    <div class="col-lg-12">
      <div class="legible calm pad-six space-three-bottom space-one-top link-silent">
        <div>17 - 18 September 2014</div>
        <div>The Energy and Resources Institute (TERI), Domlur, Bangalore</div>
      </div>
    </div>
  </div>
</section> 