<section id="workshops" class="page-section">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="pad-three-left nopad-xs extralarge all-caps prose-type bold"><span class="darkyellow">4.2</span> <span class="darkblue">Workshops</span></div>
    </div>
    <div class="col-lg-12">
      <div class="legible calm pad-six nopad-xs space-three-bottom space-one-top link-silent">
        <div>17 - 18 September 2014</div>
        <div>The Energy and Resources Institute (TERI), Domlur, Bangalore</div>
      </div>
    </div>
    <div class="row regular pad-three nopad-xs">
      <table class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 table-bordered schedule-table table-responsive fill-primary text-center">
        <thead>
          <tr>
             <th class="text-center fill-darkblue">Timing</th>
             <th class="text-center fill-darkblue">Workshops</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td colspan="2" class="schedule-slot prose-type text-left regular medium push-half all-caps darkyellow">Day 1: 17 September 2014</td>
          </tr>
          <tr>
             <td class="schedule-slot prose-type secondary">09:30 AM - 10:00 AM</td>
             <td class="regular italic">Check-ins &amp; Registrations</td>
          </tr>
          <tr>
             <td class="schedule-slot prose-type secondary">10:00 AM - 06:15 PM</td>
             <td class="regular"><h3 class="link-silent"><a href="https://funnel.hasgeek.com/jsfoo2014/1234-getting-up-running-with-angularjs">Getting Up &amp; Running with AngularJS</a></h3><h5><a href="http://in.linkedin.com/in/shyamseshadri" target="_blank">Shyam Seshadri</a></h5><p>The aim is to get developers up, running and comfortable with AngularJS within a day.</p></td>
          </tr>
          <tr>
             <td colspan="2" class="schedule-slot prose-type text-left regular medium push-half all-caps darkyellow">Day 2: 18 September 2014</td>
          </tr>
          <tr>
             <td class="schedule-slot prose-type secondary">08:30 AM - 09:00 AM</td>
             <td class="regular italic">Check-ins &amp; Breakfast</td>
          </tr>
          <tr>
             <td class="schedule-slot prose-type secondary">09:00 AM - 01:00 PM</td>
             <td class="regular"><h3 class="link-silent"><a href="https://funnel.hasgeek.com/jsfoo2014/1157-meteor-developing-teamsync-real-time-collaboration">Meteor | Developing TeamSync (Real Time Collaboration Tool) Using Meteor</a></h3><h5><a href="http://www.linkedin.com/in/febinjohnjames" target="_blank">Febin John James</a></h5><p>This workshop will teach you to develop a full-fledged web app with Meteor.</p></td>
          </tr>
          <tr>
             <td colspan="2" class="schedule-slot prose-type text-left regular medium push-half all-caps">Day 2: 18 September 2014</td>
          </tr>
          <tr>
             <td class="schedule-slot prose-type secondary">01:00 PM - 02:00 PM</td>
             <td class="regular italic">Lunch</td>
          </tr>
          <tr>
             <td class="schedule-slot prose-type secondary">02:00 PM - 06:15 PM</td>
             <td class="regular"><h3 class="link-silent"><a href="https://funnel.hasgeek.com/jsfoo2014/1259-building-single-page-apps-with-react-js">Building single page apps with React.JS</a></h3><h5><a href="http://in.linkedin.com/in/vagmi" target="_blank">Vagmi Mudumbai</a></h5><p>will teach you how to build single-page apps with ReactJS</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section> 