<section id="workshops" class="{% if background %} fill-{{ background }}{% endif %}">
  <div class="container-fluid">  
    <div class="col-xs-12">
      <div class="nopad-xs"><a href="workshops" class="link-silent extralarge bold all-caps prose-type"><span class="darkyellow">4.2</span> <span class="darkblue">Workshops</span></a><span class="flushright regular medium space-half-top"><i class="fa fa-calendar secondary"></i>&nbsp;17 - 18 September 2014<a href="workshops#workshop-venue" class="gap-two-left link-silent"><i class="fa fa-map-marker secondary"></i>&nbsp;TERI, Domlur</a></span></div>
    </div>
  </div>
</section> 