{% from "baseframe/components.html" import networkbar with context -%}

<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9">     <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js{%- if config['DEBUG'] %} wf-active{% endif %}">        <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{% if description %}{{ description }}{% else %}JSFoo: JavaScript Conference in Bangalore, India{% endif %}">
<meta name="author" content="HasGeek and friends">

<meta property="og:title" content="JSFoo 2013"/>
<meta property="og:image" content="{{ request.url_root[:-1] }}{{ theme_static('img/logo.png') }}"/>
<meta property="og:url" content="{{ request.url }}"/>
<meta property="og:description" content="{% if description %}{{ description }}{% else %}JSFoo: JavaScript Conference in Bangalore, India{% endif %}"/>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<title>JSFoo 2013</title>

{%- if _theme %}
  {% assets "css_" + _theme -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
{%- endif %}

<!-- Leaflet -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" />
<![endif]-->
<link rel="stylesheet" href="/_baseframe/css/networkbar.css">

<script src="{{ theme_static('js/vendor/modernizr-2.6.2.js') }}"></script>

{%- if config['DEBUG'] %}
  <link rel="stylesheet" href="{{ theme_static('css/fonts.css') }}">
{%- else %}
  <!-- <script type="text/javascript" src="//use.typekit.net/XXXXXX.js"></script> -->
  <!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
{%- endif %}

</head>
<body class="fill-redgray">

<div class="hg-bar-holder fill-dark">{% block networkbar %}{{ networkbar(siteid='events', login=true, baseclass='hg-dark') }}{% endblock %}</div>
  
<div id="page">

<header class="banner text-center clearfix">
  <h1 class="ir logo">
    JSFoo 2013
  </h1>
  <h2 class="legible-prose calm all-caps">
    <span>20<sup>th</sup> — 21<sup>st</sup></span>
    <span>September</span>
    <span>2013</span>
  </h2>
  <h2 class="legible-prose calm space-one-top space-two-bottom regular">
    <a href="https://maps.google.co.in/maps?q=MLR+Convention+Centre+-+JP+Nagar,+Bangalore,+Karnataka&hl=en&ll=12.894143,77.585106&spn=0.047523,0.077934&sll=12.945288,77.643446&sspn=0.190051,0.311737&oq=MLR+Convention+Centre,+J+Bangalore,+Karnataka&hq=MLR+Convention+Centre+-&hnear=J+P+Nagar,+Bangalore,+Bangalore+Urban,+Karnataka&t=m&z=14&iwloc=A">MLR Convention Centre, J. P. Nagar</a>
  </h2>
  <h3 class="red calm all-lower extralarge">
    <span class="link">Conference</span>
    <i class="amp">&amp;</i>
    <span class="link">Workshops</span>
    <i class="on">on</i>
    <span class="link">JavaScript</span>
    <i>in</i>
    <span class="link">Bangalore</span>
  </h3>
  
  <div class="intro row-fluid text-left prose prose-type">
    <p class="span8 offset2 large-prose">
      JSFoo is back! India’s first JavaScript conference returns for a third edition after two successful runs in 2011 and 2012.
      This year’s event will focus on <em>original creations with&nbsp;JavaScript</em>. Come join us.
    </p>
  </div>
  
  <p class="secondary space-six-bottom">
    <a class="button" href="http://jsfoo.doattend.com/">Buy your Ticket</a>
  </p>
</header>

<section class="program-committee page-section fill-red full-width clearfix">
  <div class="row-fluid">
    <h2 class="offset1 span4 extralarge all-caps">Program Committee</h2>
    
    <div class="offset1 span5 legible-prose">
      <ul class="list-space-one list-plain">
        <li><a href="https://twitter.com/biberli">Barbara Maim</a></li>
        <li><a href="https://twitter.com/jonmaim">Jonathan Maim</a></li>
        <li><a href="https://twitter.com/avranju">Rajasekharan Vengalil</a></li>
        <li><a href="https://twitter.com/rakesh314">Rakesh Pai</a></li>
        <li><a href="https://twitter.com/threepointone">Sunil Pai</a></li>
        <li><a href="https://twitter.com/viz">Vishal Parpia</a></li>
      </ul>
    </div>
  </div>
</section>



<section class="funnel page-section clearfix">
  <div class="row-fluid">
    <h2 class="offset1 span4 extralarge all-caps">Session Proposals</h2>
    
    <div class="offset1 span5 legible-prose prose-type space-one-top">
      <p>
        Anyone is welcome to propose a session. Participants who have purchased conference tickets will vote on session proposals. The Programme Committee steering JSFoo will also vote on submissions and balance the community voting.
      </p>
      
      <p class="title-type secondary space-one-top">
        <a class="button" href="https://funnel.hasgeek.com/jsfoo2013/">Propose a Session</a>
      </p>
    </div>
  </div>

  {#
  <hr class="invisible space-one">
  
  <div class="row-fluid space-two">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Talks</h3>
    
    <div class="offset1 span5 legible-prose prose prose-type">
      <ul class="space-half-top list-space-line list-plain link-silent">
        <li>
          <a href="#">
            The Rise of DocPad - The Hybrid Static Site Generator for Node
          </a>
          <br>
          <em class="occupy space-1q-top secondary">
            Benjamin Arthur Lupton
          </em>
        </li>
        <li>
          <a href="#">
            JSON-LD : JSON for Linked Data
          </a>
          <em class="occupy space-1q-top secondary">
            Vikash Agrawal
          </em>
        </li>
        <li>
          <a href="#">
            FlatSurface
          </a>
          <em class="occupy space-1q-top secondary">
            Jon Maim
          </em>
        </li>
      </ul>
      <p class="tiny all-caps title-type text-right">
        <a href="https://funnel.hasgeek.com/jsfoo2013/#sessions">More &rarr;</a>
      </p>
    </div>
  </div>
  
  <hr class="invisible space-one">
  
  <div class="row-fluid space-two">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Workshops</h3>
    
    <div class="offset1 span5 legible-prose prose prose-type">
      <ul class="space-half-top list-space-line list-plain link-silent">
        <li>
          <a href="#">
            Roll Your Own Node Server
          </a>
          <br>
          <em class="occupy space-1q-top secondary">
            Santosh Rajan
          </em>
        </li>
        <li>
          <a href="#">
            Develop your first multi room chat with Node.js, Websockets and MongoDB
          </a>
          <em class="occupy space-1q-top secondary">
            Vikash Agrawal
          </em>
        </li>
      </ul>
      <p class="tiny all-caps title-type text-right">
        <a href="https://funnel.hasgeek.com/jsfoo2013/#sessions">More &rarr;</a>
      </p>
    </div>
  </div>
  #}
  
</section>



<section class="highlights page-section nopush-bottom fill-red clearfix">
  <div class="row-fluid">
    <div class="offset1 span4 push-one-bottom">
      <h2 class="extralarge all-caps">Previously at&nbsp;JSFoo</h2>
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="//jsfoo.in/2012">Bangalore&nbsp;2012</a></li>
        <li><a href="//jsfoo.in/chennai2012/">Chennai&nbsp;2012</a></li>
        <li><a href="//jsfoo.in/pune2012/">Pune&nbsp;2012</a></li>
        <li><a href="//jsfoo.in/bangalore2011/">Bangalore&nbsp;2011</a></li>
      </ul>
    </div>
    
    <div class="offset1 span5 legible-prose prose-type space-one-top">
      <p>
        The first season of JSFoo featured editions in Bangalore, Pune and Chennai between Oct 2011 and Feb 2012. The second edition in Bangalore in Oct 2012 was based on the theme “JavaScript Everywhere”&nbsp;— featuring JavaScript on web servers, embedded in robots, as a cross-platform language for mobile, and in its original home, the browser.
      </p>
    </div>
  </div>
  
  <div class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Highlights</h3>
    
    <div class="offset1 span3 contain-width link-silent">
      <article class="ngap-one pad-one push-one-bottom fade-red-to-dark video-thumbnail prose-type clearfix">
        <p>
          <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
            <img alt="" src="{{ theme_static('img/2012-speaker-1.jpg') }}">
          </a>
        </p>
        <h4>
          <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
            Score with Underscore.js
          </a>
        </h4>
        <h5>
          Shreyank Gupta
        </h5>
      </article>
    </div>
    
    <div class="clearboth full-width fill-dark push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
                <img alt="" src="{{ theme_static('img/2012-speaker-2.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
                Score with Underscore.js
              </a>
            </h4>
            <h5>
              Shreyank Gupta
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
                <img alt="" src="{{ theme_static('img/2012-speaker-3.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
                Programming for Canvas with CreateJS - What can you do in 40 mins?
              </a>
            </h4>
            <h5>
              Harish Sivaramakrishnan
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/201-web-storage">
                <img alt="" src="{{ theme_static('img/2012-speaker-4.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/201-web-storage">
                Web Storage
              </a>
            </h4>
            <h5>
              Aditya
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
                <img alt="" src="{{ theme_static('img/2012-speaker-1.jpg') }}">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/jsfoo/2012/73-score-with-underscore-js">
                Score with Underscore.js
              </a>
            </h4>
            <h5>
              Shreyank Gupta
            </h5>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>



<section class="venue page-section fill-dark clearfix">
  <div class="row-fluid">
    <h2 class="offset1 span4 extralarge all-caps">Venue</h2>
    <div
      class="leaflet-map city-level"
      data-label="MLR Convention Centre, J. P. Nagar"
      data-zoom="14"
      data-marker="12.891476, 77.585079">
      
      <p class="offset6 span6 legible-prose">
        MLR Convention Centre<br>
        Brigade Millenium Campus<br>
        J P Nagar 7th phase
      </p>
      
    </div>
    
    <div
      class="leaflet-map country-level"
      data-zoom="3"
      data-label="Bangalore"
      data-marker="12.9833, 77.5833">
      
      <p class="offset6 span6 legible-prose">
        Bangalore<br>
        Karnataka<br>
        India
      </p>
      
    </div>
  </div>
</section>


<section class="sponsors page-section nopush-bottom fill-black clearfix">
  <div class="row-fluid">
    <div class="offset1 span4 push-one-bottom">
      <h2 class="extralarge all-caps">Sponsors</h2>
      {#
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="#sponsors-platinum">Platinum</a></li>
        <li><a href="#sponsors-gold">Gold</a></li>
        <li><a href="#sponsors-silver">Silver</a></li>
        <li><a href="#sponsors-bronze">Bronze</a></li>
        <li><a href="#sponsors-community">Community</a></li>
        <li><a href="#sponsors-party">Party</a></li>
        <li><a href="#sponsors-travel">Travel</a></li>
        <li><a href="#sponsors-corporate-tickets">Corporate tickets</a></li>
      </ul>
      #}
    </div>
    
    <div class="offset1 span5 legible-prose prose-type space-one-top">
      <p>
        Startups to Fast Growing Companies<br>
        Developers to Chiefs in-charge<br>
        Under One Roof
      </p>
      
      <p class="title-type secondary space-one-top">
        <a class="button button-on-dark" href="#">Get Sponsorship Deck</a>
      </p>
    </div>
  </div>
  
  {#
  <div id="sponsors-platinum" class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Platinum</h3>
    
    <ul class="offset1 span5 nospace-bottom list-space-line list-plain link-silent clearfix sponsor-xl">
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
    </ul>
  </div>

  <div id="sponsors-gold" class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Gold</h3>
    
    <ul class="offset1 span5 nospace-bottom list-space-line list-plain link-silent clearfix sponsor-l">
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
    </ul>
  </div>

  <div id="sponsors-silver" class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Silver</h3>
    
    <ul class="offset1 span5 nospace-bottom list-space-line list-plain link-silent clearfix sponsor-m">
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
    </ul>
  </div>

  <div id="sponsors-community" class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Community</h3>
    
    <ul class="offset1 span5 nospace-bottom list-space-line list-plain link-silent clearfix sponsor-s">
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy fill-white sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
    </ul>
  </div>

  <div id="sponsors-corporate-tickets" class="row-fluid space-two-top">
    <h3 class="offset1 span4 legible all-caps space-one-bottom">Corporate Tickets</h3>
    
    <ul class="offset1 span5 nospace-bottom list-plain link-silent clearfix sponsor-compact fill-white">
      <li>
          <a href="#" class="occupy sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
      <li>
          <a href="#" class="occupy sponsor-logo contain-height">
            <img alt="HasGeek" src="{{ theme_static('img/hasgeek-large-logo.png') }}">
          </a>
      </li>
    </ul>
  </div>
  #}
</section>


<footer class="page-footer page-section fill-dark clearfix">
  <div class="text-center tiny">
    <p class="gray">Copyright &copy; 2010–13. All rights reserved.</p>
    <p><script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!55{)rt{y+xx=l;=+;" +
    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
    "\"(5),5\\\"\\\\[W@QGJEI2Z00\\\\\\\\]M\\\\r0\\\\s=>7>?6+5>02\\\\\\\\5;8<mn22" +
    "\\\\09\\\\\\\"\\\\\\\\\\\\&.; -j-+`/35\\\\0}\\\\ML\\\\\\\\\\\\\\\\XP32\\\\0" +
    "3\\\\03\\\\\\\\XdsYyg02\\\\03\\\\00\\\\\\\\25\\\\0@\\\\ABcI27\\\\0]\\\\BKGL" +
    "RVp zt~9tv~hajjGoe27\\\\0F\\\\25\\\\04\\\\01\\\\\\\\32\\\\05\\\\03\\\\\\\\2" +
    "3\\\\05\\\\03\\\\\\\\0L6W01\\\\\\\\03\\\\06\\\\02\\\\\\\\\\\\n@\\\\`?px88$7" +
    ">'f=*2-'_K\\\\U\\\\\\\\\\\\\\\\(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeC" +
    "oarChomfrg.intr=So+7;12%=;y++)y55i<f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\" +
    "\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                                    ;
    while(x=eval(x));
    //-->
    //]]>
    </script>
    <a href="tel:+918067684422" class="link-silent">+91-80-67684422</a></p>
    <h3>
      <a class="ir hasgeek-logo" href="//hasgeek.com">
        HasGeek
      </a>
    </h3>
  </div>
</footer>


</div><!-- #page -->
{%- if not config['DEBUG'] %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{%- endif %}
<script>window.jQuery || document.write('<script src="{{ theme_static('js/vendor/jquery-1.10.2.min.js') }}"><\/script>')</script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
{%- if _theme %}
  {% assets "js_" + _theme -%}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets -%}
{%- endif %}

<script>
// Google Analytics
if (location.hostname == 'jsfoo.in') {
  var _gaq=[['_setAccount','UA-19123154-15'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
}
</script>

<!-- Prompt IE 6 users to install Chrome Frame. -->
<!-- chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>