{% extends theme("page.html") %}

{% set title = '' %}
{% set description = '' %}

{% block content %}
  
  <section class="venue fill-red bleed-section clearfix">
    
    <div class="row-fluid">
      <h2 class="offset1 extralarge all-caps space-four pad-section-bleeding">Venue &amp;<br>Local&nbsp;Information</h2>
    </div>
  
    <div class="row-fluid">
      <h2 class="offset1 extralarge span4 all-caps space-four-bottom pad-section-bleeding">Conference</h2>
      <h3 class="offset1 span5 large all-caps space-four-bottom pad-section-bleeding">MLR Convention Centre<span class="regular occupy">J. P. Nagar</span></h3>
      
    </div>
    <div class="full-width bleed-section"><img src="{{ theme_static('img/venue.jpg') }}" class="contain-width"></div>
  
    <div class="row-fluid space-four-top pad-section-bleeding">
      <h3 class="offset1 span4 legible all-caps space-one-bottom">Address</h3>

      <div class="offset1 span5 legible-prose prose prose-type">
        <div class="prose-type regular-prose space-three-bottom">
          <p>
            MLR Convention Centre, J.P. Nagar<br>
            Brigade Millenium Complex, J.P. Nagar 7th Phase<br>
            Bangalore, Karnataka  India
          </p>
          <p>
            <a href="http://goo.gl/maps/pTOsq" class='tiny faded'>View on Google Maps</a>
          </p>
        </div>
      </div>
    </div>
  
    <div class="full-width no-js-hidden space-three-bottom">
      <h3 class="visuallyhidden">Map</h3>
      <div class="row-fluid">
        <div class="offset6 span5 legible-prose prose prose-type clearfix">
          <div
            class="leaflet-map span12"
            data-label="MLR Convention Centre, J. P. Nagar"
            data-zoom="14"
            data-marker="12.891476, 77.585079">
          </div>
        </div>
      </div>
    </div>
    
    <div class="row-fluid space-three pad-section-bleeding">
      <h3 class="offset1 span4 legible all-caps space-two-bottom">Directions</h3>

      <div class="offset1 span5 regular-prose prose prose-type">
        
        <h4 class="space-one-bottom semibold legible-prose">From Airport</h4>
        <p class="space-two-bottom">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <h4 class="space-one-bottom semibold legible-prose">From Majestic</h4>
        <p class="space-two-bottom">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        
      </div>
    </div>
      
  </section>

  <section class="party-venue fill-dark bleed-section clearfix">
  
    <div class="row-fluid push-four-top">
      <h2 class="offset1 extralarge span4 all-caps space-four-bottom pad-section-bleeding">Party</h2>
      <h3 class="offset1 span5 large all-caps space-four-bottom pad-section-bleeding">The Bak Bak Bar <span class="regular occupy">Koramangala</span></h3>
    </div>
    <div class="full-width bleed-section"><img src="{{ theme_static('img/venue.jpg') }}" class="contain-width"></div>
  
    <div class="row-fluid space-four-top space-two-bottom pad-section-bleeding">
      <h3 class="offset1 span4 legible all-caps space-one-bottom">When</h3>
      
      <div class="offset1 span5 prose prose-type">
        <p class="legible-prose space-line-bottom">Sep 20<sup class="date">th</sup>, 7pm – 11pm</p>
        <p class="regular-prose">Party is open <em>only for the conference attendees</em>. Attendees must <em>show their lanyards</em> at the entrance.</p>
      </div>
    </div>
  
    <div class="row-fluid pad-section-bleeding">
      <h3 class="offset1 span4 legible all-caps space-one-bottom">Address</h3>

      <div class="offset1 span5 regular-prose prose prose-type space-three-bottom">
        <p>
          MLR Convention Centre, J.P. Nagar<br>
          Brigade Millenium Complex, J.P. Nagar 7th Phase<br>
          Bangalore, Karnataka  India
        </p>
        <p>
          <a href="http://goo.gl/maps/pTOsq" class='tiny faded'>View on Google Maps</a>
        </p>
      </div>
    </div>
  
    <div class="full-width no-js-hidden space-three-bottom">
      <h3 class="visuallyhidden">Map</h3>
      <div class="row-fluid">
        <div class="offset6 span5 legible-prose prose prose-type clearfix">
          <div
            class="leaflet-map span12"
            data-label="MLR Convention Centre, J. P. Nagar"
            data-zoom="14"
            data-marker="12.891476, 77.585079">
          </div>
        </div>
      </div>
    </div> 
    
    <div class="row-fluid space-three pad-section-bleeding">
      <h3 class="offset1 span4 legible all-caps space-one-bottom">Directions</h3>

      <div class="offset1 span5">
        <p class="regular-prose prose prose-type space-two-bottom">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
     </div>
    
  </section>

  <section class="page-section fill-redgray full-width clearfix">
  
    <div class="row-fluid">
      <h2 class="offset1 extralarge all-caps space-two-bottom">Hotels</h2>
    </div>
  
    {% with %}
      {% from theme("data/hotels.html") import types, items %}
      {% for type in types %}
        {% set outer = loop %}
        {% for item in items if item.type == type.id  %}
          {% if loop.first %}
          <article id="{{ type.id }}-hotels" class="row-fluid">
            <h3 class="offset1 span4 legible all-caps space-one-bottom">{{ type.title }}</h3>
            <ul class="offset1 span5 regular-prose prose prose-type unstyled">
          {% endif %}
              <li>
                <h4 class="legible-prose semibold">{{ item.title }}</h4>
                <div class="space-three-bottom">
                  <h5 class="visuallyhidden">Address</h5>
                  <p class="space-one-bottom">{{ item.address|safe }}</p>
                  <h5 class="visuallyhidden">Contact</h5>
                  <p class="space-one-bottom link-silent">{{ item.contact|safe }}</p>
                  <h4 class="visuallyhidden">Distance</h4>
                  <p class="space-one-bottom secondary">
                    {{ item.distance }} kms from conference venue
                  </p>
                </div>
              </li>
          {% if loop.last %}
            </ul>
          </article>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endwith %}
  
  </section>

{% endblock %}
