$white: #FFFFFF;
$dark: #333333;
$light-text: #C5CAE9;
$primary: #2E3661;
$primary-dark: #252C52;
$primary-text: #9699B3;
$primary-dark-text: #545B8A;
$secondary: #DCE775;

$lightblue: #A1DADB;
$darkblue: #549EAF;
$lightyellow: #F0CF9A;
$darkyellow: #FAA51A;
